[submodule "vendor/unbound"]
	path = vendor/unbound
	url = https://github.com/internetstandards/unbound.git
[submodule "vendor/nassl"]
	path = vendor/nassl
	url = https://github.com/internetstandards/nassl.git
[submodule "vendor/openssl-1.0.2e"]
	path = vendor/openssl-1.0.2e
	url = https://github.com/PeterMosmans/openssl.git
[submodule "vendor/openssl-master"]
	path = vendor/openssl-master
	url = https://github.com/openssl/openssl.git
