*.sqlite3
/internetnl/settings.py
/internetnl/batch_api_doc_conf.py
__pycache__
*.mo
*.pyc
*.swp
*.swo
*.swn
*~
/openssl/
/build/
/static/
/.htpasswd
/nbproject
/dump.rdb
/celerybeat-schedule*
/batch_results/
/locale_files/
*.log
*.pid
/tests/.pytest_cache/

# Pycharm defaults
.idea
.venv

# When compiling unbound as per installation instructions, do that in the virtual env in the IDE. Ignore the code.
unbound
python-whois
pythonwhois.egg-info

# Mac os via ubuntu
._.DS_Store
.DS_Store

# make targets
.unbound
.python-whois
