# Wheel is not installed by default when using venv for creating Python
# virtual environments
wheel

# The currently supported Django version
Django==1.11.29
django-redis==4.10

amqp==5.0.6
celery==5.1.2
kombu==5.1.0
vine==5.0.0

beautifulsoup4
cryptography
django-bleach
django-csp
django-enumfields
django-hosts
django-markdown_deux
eventlet
gevent
idna
libsass
markdown
polib
# https://github.com/psycopg/psycopg2/issues/1293
psycopg2-binary>=2.8,<2.9
pyparsing
pyrabbit
pyyaml
rjsmin
