# Wheel is not installed by default when using venv for creating Python
# virtual environments
wheel

# The current LTS of django is 3.2, see: https://www.djangoproject.com/download/#supported-versions
# We'll probably wait until 4.2 LTS to be available for the next upgrade.
Django<4

django-redis<5

# 5.2 is the last one with python 3.7 support, which is our target platform
celery<5.3
kombu<5.3

setuptools-rust
beautifulsoup4
cryptography<39.0.0
django-bleach<3  # 3 and up has no Python 3.7 support
django-csp
django-enumfields
django-hosts
django-markdown_deux
eventlet
gevent
libsass
markdown
polib
psycopg2-binary<3
pyparsing
pyrabbit2
pyyaml
rjsmin
argparse
GitPython
pathlib2
pytest<7
selenium<4
chardet
requests
hiredis
ip_address
sectxt
colorlog
setuptools_scm
sentry-sdk
forcediphttpsadapter

# https://stackoverflow.com/questions/73933432/django-celery-cannot-import-name-celery-from-celery-after-rebuilding-dockerf
importlib-metadata<5

# Webserver
gunicorn

# Needed in celery/kombu, but not installed automatically?
cached-property

# our custom fork
https://github.com/internetstandards/python-whois/releases/download/v1.0.0/pythonwhois-internet.nl-1.0.0.tar.gz
