# make sure there are no version conflicts with requirements.txt
-c requirements.txt

pytest
pytest-cov
pytest-django
coverage
pytest-responses
# output logging when test fails
pytest-logging
django-coverage
pytest-mock
requests_mock
freezegun
pytest-html
pytest-selenium
py

# linting
autoflake
black
flake8

# requirements management
pip-tools>7
uv
