# Wheel is not installed by default when using venv for creating Python
# virtual environments
wheel

# The current LTS of django is 3.2, see: https://www.djangoproject.com/download/#supported-versions
# We'll probably wait until 4.2 LTS to be available for the next upgrade.
Django<4

django-redis<5

# 5.2 is the last one with python 3.7 support, which is our target platform
celery<5.3
kombu<5.3

setuptools-rust
beautifulsoup4
django-bleach
django-csp
django-enumfields
django-hosts
django-markdown_deux
eventlet
gevent
libsass
markdown
polib
psycopg2-binary<3
pyparsing
pyrabbit2
pyyaml
rjsmin
argparse
GitPython
pathlib2
pytest
selenium
chardet
requests
hiredis
ip_address

colorlog

# Webserver
gunicorn

# Needed in celery/kombu, but not installed automatically?
cached-property
