# Wheel is not installed by default when using venv for creating Python
# virtual environments
wheel

# The current LTS of django is 5.2, see: https://www.djangoproject.com/download/#supported-versions
Django>=5.2,<6

django-redis<5

# 5.3 solves redis connection leak using the 'result_backend_thread_safe' option
celery>5.3

setuptools-rust
beautifulsoup4
cryptography
django-bleach
django-enumfields
django-hosts
django-markdown_deux
eventlet
gevent
libsass
markdown
polib
psycopg2-binary<3
pyparsing
pyrabbit2
pyyaml
rjsmin
argparse
GitPython
pathlib2
pytest
selenium
chardet
requests
hiredis
ip_address
colorlog
setuptools_scm
sentry-sdk
forcediphttpsadapter
pytz
sectxt
# cgi.parse_header was removed in Python 3.13
legacy-cgi
abnf
pyopenssl
dnspython
service-identity

# sslyze dependencies, which is installed from outside this file
sslyze>=6.3.0

# https://stackoverflow.com/questions/73933432/django-celery-cannot-import-name-celery-from-celery-after-rebuilding-dockerf
importlib-metadata<5

# Webserver
uwsgi

# Static file server
whitenoise

# Needed in celery/kombu, but not installed automatically?
cached-property

# our custom fork
https://github.com/internetstandards/python-whois/releases/download/v1.0.0/pythonwhois-internet.nl-1.0.0.tar.gz

# used for statsd ad-hoc metric collection
statshog

django-statsd-mozilla

# let celery push metrics to statsd
celery-statsd

# for automatic css reload
django-browser-reload
