# make sure there are no version conflicts with requirements.txt
-c requirements.txt

pytest
pytest-cov
pytest-django
pylama
coverage
pytest-responses
# output logging when test fails
pytest-logging
django-coverage
pytest-mock
requests_mock
freezegun
pytest-html
pytest-selenium<4

# linting
autoflake<2.2  # 3.7
black
pylama

# requirements management
pip-tools

# for automatic css reload
django-browser-reload
