.about-section {
  h2 {
    grid-column: span 12;
    font: var(--section-header-6);
    color: var(--heading-color-2);
    padding-bottom: 8px;

    @media (width >= 900px) {
      padding-bottom: 24px;
    }
  }

  p {
    grid-column: span 12;
    color: var(--heading-color-3);
    font: var(--section-header-3);

    @media (width >= 900px) {
      grid-column: 1 / 7;
    }

    &:nth-of-type(2) {
      font: var(--section-body-1);
      color: var(--body-color-2);
      padding-top: 16px;

      @media (width >= 900px) {
        grid-column: 8 / 13;
        padding-top: 0;
      }
    }
  }

  > div > a {
    display: none;

    @media (width >= 900px) {
      grid-column: span 12;
      gap: 8px;
      display: flex;
      align-items: center;
      color: var(--button-text-color-2);
      font: var(--section-link-1);
      justify-self: center;
      margin-top: 48px;
      border-bottom: 1px solid currentcolor;
    }
  }
}

.logo-list {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;

  @media (width >= 900px) {
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    overflow-x: auto;
    padding-top: 80px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-color: var(--green-500) var(--transparent-100);
    scrollbar-width: thin;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--green-500);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--transparent-100);
    }
  }

  li {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;

    &:last-child {
      display: none;

      @media (width >= 900px) {
        display: block;
      }
    }
  }

  img {
    max-width: 100%;
    transition: 0.3s;
    
    @media screen and (width >= 900px) {
      max-width: initial;
    }

    &:first-of-type {
      display: var(--image-visible);
    }

    &:last-of-type {
      display: var(--image-hidden);
    }

    &:hover {
      opacity: 0.6;
    }
  }
}