/* internet.nl
   alt.css
   v6 | 201806
*/

/*

  this stylesheet is loaded only by browsers that have both images and javascript enabled
  it is used to replace very, very important text such as warnings with a visually more
  attractive background image. This may be the case on the test result page or the
  logo in the header. Also, this sheet loads background images for headers etc.

*/

/* ===================================================================================== */

/* auxilliary classes */
.visuallyhidden, .hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ===================================================================================== */

@media (max-width:499px) {
  #site-title a {
    height: 33px;
    /* logo with site description below */
    background: url('/static/logo_en.png');
    background: url('/static/logo_en.svg');
  }
}

@media (min-width:500px) AND (max-width:739px) {
  #site-title a {
    background: url('/static/logo-tablet_en.png');
    background: url('/static/logo-tablet_en.svg');
    }
}

@media (min-width:740px) {
  #site-title a {
    height: 25px;
    /* logo with site description below */
    background: url('/static/logo_en.png');
    background: url('/static/logo_en.svg');
  }
}

/* Site title and site description */
#site-title a {
  background-repeat: no-repeat;
  background-size: contain;
}


#menu-button i {
  font-size: 1em;
  display: block;
  text-indent: 999em;
  background: white url('/static/icon-menu.png') center center no-repeat;
  background-image: url('/static/icon-menu.svg'), none; /* browsers that do not understand this will show the png-based image */
  background-repeat: no-repeat;
  background-size: contain;
}




/* ================================= */
/* styling for test result indicator */

#testresults-overview .reruntest,
#testresults-overview .icon-testinfo,
#testresults-overview .permalink {
  background-size: 1.25em 1.25em;
  padding-left: 1.75em;
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  max-width: 60%;
  margin: 0 0 .25em 0;
}
#testresults-overview .permalink {
  background-image: url('/static/icon-permalink.png');
  background-image: url('/static/icon-permalink.svg'), none; /* browsers that do not understand this will show the png-based image */
}
#testresults-overview .reruntest {
  background-image: url('/static/icon-reruntest.png');
  background-image: url('/static/icon-reruntest.svg'), none; /* browsers that do not understand this will show the png-based image */
}
#testresults-overview .icon-testinfo {
  background-image: url('/static/icon-testinfo.png');
  background-image: url('/static/icon-testinfo.svg'), none; /* browsers that do not understand this will show the png-based image */
}

/* ===================================================================================== */
/* images for test results */
.testresult {
  padding-left: 2.25em; /* 36px */
  background: #fff url('/static/icon-testresult-default.png') .6em .6em no-repeat;
  background-image: url('/static/icon-testresult-default.svg'), none; /* browsers that do not understand this will show the png-based image */
  background-size: 1.125em 1.125em; /* 18px 18px */
}
.faq-subtest {
  padding-left: 1.5em;
  background: #fff url('/static/icon-testresult-default.png') no-repeat;
  background-image: url('/static/icon-testresult-default.svg'), none; /* browsers that do not understand this will show the png-based image */
  background-size: 1.125em 1.125em; /* 18px 18px */
}
.testresult.passed,
.faq-subtest.passed {
  background-image: url('/static/icon-check.png');
  background-image: url('/static/icon-check.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresult.failed,
.faq-subtest.failed {
  background-image: url('/static/icon-error.png');
  background-image: url('/static/icon-error.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresult.warning,
.faq-subtest.warning {
  background-image: url('/static/icon-warning.png');
  background-image: url('/static/icon-warning.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresult.info,
.faq-subtest.info {
  background-image: url('/static/icon-info.png');
  background-image: url('/static/icon-info.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresult.good-not-tested,
.faq-subtest.good-not-tested {
  background-image: url('/static/icon-not-tested-question-mark.png');
  background-image: url('/static/icon-not-tested-question-mark.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresult.not-tested,
.faq-subtest.not-tested {
  background-image: url('/static/icon-not-tested.png');
  background-image: url('/static/icon-not-tested.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresult.not-tested h3 a {
  color: #6D6D6D;
}
.meter {
  background: white url('/static/progress-meter2x.png') bottom center no-repeat;
  background-size: 100% 80px;
  background-position: center center;
  background-origin: border-box;
}
.testresults h2,
.faq-test,
.test-header .test-title h2,
#testresults-overview ul li {
  padding-left: 1.5em;
  background-size: 1em 1em; /* 16px 16px */
  background-repeat: no-repeat;
  background-position: left center;
}
.testresults h2.error,
.faq-test.error,
#testresults-overview ul li.error {
  background-image: url('/static/probe-error.png');
  background-image: url('/static/probe-error.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresults h2.warning,
.faq-test.warning,
.test-header .test-title h2.warning,
#testresults-overview ul li.warning {
  background-image: url('/static/icon-circle-warning.png');
  background-image: url('/static/icon-circle-warning.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresults h2.failed,
.faq-test.failed,
.test-header .test-title h2.failed,
#testresults-overview ul li.failed {
  background-image: url('/static/icon-circle-error.png');
  background-image: url('/static/icon-circle-error.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresults h2.info,
.faq-test.info,
.test-header .test-title h2.info,
#testresults-overview ul li.info {
  background-image: url('/static/icon-info.png');
  background-image: url('/static/icon-info.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.testresults h2.passed,
.faq-test.passed,
.test-header .test-title h2.passed,
#testresults-overview ul li.passed {
  background-image: url('/static/icon-circle-check.png');
  background-image: url('/static/icon-circle-check.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.perfectscore {
  background: white;
  color: black;
  padding: 1em 1em 1em 6.45em;
  margin: 1em 0;
  min-height: 6.45em;
  background-image: url('/static/badge-simple-flat.png');
  background-image: url('/static/badge-simple-flat.svg'), none; /* browsers that do not understand this will show the png-based image */
  background-repeat: no-repeat;
  background-position: .5em 1em;
}


#testresults-overview .congratulations  {
  margin-bottom: 1em;
}

#testresults-overview .perfectscore a {
  color: black;
}

/* ===================================================================================== */
/* images for test result descriptions */
.panel-title a .icon {
  transition: all 200ms ease 0s;
  width: 1em;
  height: 1em;
  background: url('/static/icon-arrow-down.png') center right no-repeat;
  background-image: url('/static/icon-arrow-down.svg'), none;
  background-size: contain;
}
.panel-title a .icon img {
  visibility: hidden;
  display: none;
}
.panel-title a.active .icon {
  transform: rotate(180deg);
}

/* ===================================================================================== */
/* icons in the headers for various tests */
.emailtest h1,
.websitetest h1,
.connectiontest h1,
.block .emailtest h2,
.block .websitetest h2,
.block .connectiontest h2,
.block.emailtest h2,
.block.websitetest h2,
.block.connectiontest h2 {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 28px;
}
.emailtest h1,
.websitetest h1,
.connectiontest h1 {
  background-position: right 12px;
}

.connectiontest h1,
.block .connectiontest h2,
.block.connectiontest h2 {
  background-image: url('/static/icon-connectiontest.png');
  background-image: url('/static/icon-connectiontest.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.emailtest h1,
.block .emailtest h2,
.block.emailtest h2 {
  background-image: url('/static/icon-emailtest.png');
  background-image: url('/static/icon-emailtest.svg'), none; /* browsers that do not understand this will show the png-based image */
}
.websitetest h1,
.block .websitetest h2,
.block.websitetest h2 {
  background-image: url('/static/icon-website-test.png');
  background-image: url('/static/icon-website-test.svg'), none; /* browsers that do not understand this will show the png-based image */
}

/* ===================================================================================== */
/* error message */
.error .message {
  padding-left: 2em;
  background: url('/static/icon-warning.png') center right no-repeat;
  background-image: url('/static/icon-warning.svg'), none; /* browsers that do not understand this will show the png-based image */
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

/* ===================================================================================== */
/* news overview */
.news li a {
  padding-right: 1.5em;
  background: url('/static/icon-arrow-right.png') center right no-repeat;
  background-image: url('/static/icon-arrow-right.svg'), none; /* browser that do not understand this will show the png-based image */
}
