/* BUTTONS */
.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  justify-content: center;
  font: var(--section-button-m);
  transition: 0.3s;
  width: 100%;

  @media (width >= 900px) {
    width: auto;
  }

  &:not(#load-more)::after {
    mask-image: url("/static/icons/arrow-right.svg");
    display: block;
  }

  &.rounded {
    border-radius: 100%;
    padding: 6px;
    border: none;
    width: fit-content;

    &.secondary-button {
      background: var(--white-100);
      color: var(--green-500);
    }
  }
}

.primary-button {
  background: var(--button-bg-color-primary);
  color: var(--button-text-color-primary);

  &:hover {
    background: var(--button-bg-color-hover-primary);
  }
}

.secondary-button:not(.rounded) {
  color: var(--button-text-color-secondary);
  border: 2px solid currentcolor;

  &:hover {
    border: 2px solid var(--button-bg-color-hover-secondary);
  }
}

#load-more::after {
  display: block;
  mask-image: url("/static/icons/plus.svg");
}

#load-more.hidden {
  display: none;
}

.button-container {
  display: grid;
  align-items: center;
  gap: 8px;
  width: 100%;

  @media (width >= 900px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: fit-content;
  }
}