.faq-section {
  background: linear-gradient(to bottom, var(--bg-color-2) 65%, transparent 65%);

  @media (width >= 900px) {
    background: linear-gradient(to right, var(--bg-color-2) 100%, transparent 100%);
    background-size: calc((100vw - 1240px) / 2 + 1240px - 200px) 100%;
    background-repeat: no-repeat;
  }

  .container {
    padding-block: 32px;

    @media (width >= 900px) {
      padding-block: 64px;
    }

    h2 {
      padding-bottom: 24px;

      @media (width >= 900px) {
        grid-column: span 7;
        padding-bottom: 40px;
      }
    }

    > a {
      margin-block: 16px 32px;
      justify-self: center;

      @media (width >= 900px) {
        grid-column: span 7;
        justify-self: start;
        margin-block: 24px 0;
      }
    }
  }
}

.faq-item {
  margin-bottom: 8px;
  background: var(--accordion-bg-color);
  border-radius: 8px;
  appearance: none;
  overflow: hidden;
  
  @media (width >= 900px) {
    grid-column: span 7;
    margin-bottom: 16px;
  }

  p {
    padding: 0 16px 16px;
    font: var(--accordion-body-1);
    color: var(--accordion-body-color);
  }

  &::details-content {
    @media (prefers-reduced-motion: no-preference) {
      @supports (transition-behavior: allow-discrete) {
        transition: height 0.3s, opacity 0.3s, content-visibility 0.3s;
        transition-behavior: allow-discrete;
        opacity: 0;
        height: 0;
      }
    }
  }

  &[open] {
    &::details-content {
      @media (prefers-reduced-motion: no-preference) {
        @supports (transition-behavior: allow-discrete) {
          opacity: 1;
          height: auto;
        }
      }
    }
    
    summary::after {
      transform: rotate(-180deg);
    }
  }

  summary {
    cursor: pointer;
    padding: 16px;
    font: var(--accordion-header-1);
    color: var(--accordion-heading-color);
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "";
      width: 24px;
      height: 24px;
      background-color: currentcolor;
      mask-image: url("/static/icons/angle-down.svg");
      display: block;
      transition: transform 0.3s;
    }
  }
}

.contact-card {
  padding: 32px 16px;
  background: var(--card-bg-color-4);
  border-radius: 8px;
  align-self: start;

  @media (width >= 900px) {
    grid-column: 9 / 13;
    grid-row: 1 / 8;  
    padding: 32px;  
  }

  h3 {
    font: var(--card-header-1);
    color: var(--card-heading-color-4);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  > p {
    font: var(--card-body-1);
    color: var(--card-body-color-4);
    padding-block: 8px 16px;

    @media (width >= 900px) {
      padding-block: 16px 32px
    }
  }

  ul {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  li {
    /* stylelint-disable-next-line no-descending-specificity */
    a {
      background: var(--button-bg-color-3);
      border-radius: 8px;
      padding: 16px;
      color: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h4 {
      display: flex;
      gap: 8px;
      align-items: center;
      padding-bottom: 8px;
      font: var(--card-header-3);
      color: var(--card-heading-color-4);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    p {
      font: var(--card-body-2);
      color: var(--card-body-color-4);
    }
  }
}