/* Montserrat-400 */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/montserrat-400.woff2') format('woff2');
}

/* Montserrat-500 */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/montserrat-500.woff2') format('woff2');
}

/* Montserrat-700 */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/montserrat-700.woff2') format('woff2');
}

/* Roboto-400 */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/roboto-400.woff2') format('woff2');
}

/* Roboto-500 */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/roboto-500.woff2') format('woff2');
}

/* Roboto-700 */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/roboto-700.woff2') format('woff2');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--bg-color-1);
  interpolate-size: allow-keywords;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;

  @media (width >= 900px) {
    gap: 80px;
    margin-bottom: 80px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: flex;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
  max-inline-size: 1240px;
  margin-inline: auto;
  padding-inline: 16px;
}

[class*="section"]  > .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  > * {
    grid-column: span 12;
  }
}

.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 16px;
  background-color: var(--black-100);
  color: var(--white-100);
  opacity: 0;

  &:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}

body:has(.nav-controls.active) .skip-link {
  display: none;
}

body:has(.nav-controls.active) {
  @media (scripting: enabled) and (width <= 900px) {
    overflow: clip;
  }
}

svg {
  min-width: 24px;
  min-height: 24px;
}

.heading-accent-color {
  color: var(--heading-color-2);
}

.section-header-1 {
  font: var(--section-header-1);

  &.color-1 {
    color: var(--heading-color-1);
  }

  &.color-2 {
    color: var(--heading-color-3);
  }
}

.section-header-2 {
  font: var(--section-header-2);

  &.color-1 {
    color: var(--heading-color-1);
  }

  &.color-2 {
    color: var(--heading-color-3);
  }
}

.section-header-3 {
  font: var(--section-header-3);
  color: var(--heading-color-1);
}

.section-header-4 {
  font: var(--section-header-4);

  &.color-1 {
    color: var(--heading-color-1);
  }

  &.color-2 {
    color: var(--heading-color-3);
  }
}

.section-header-5 {
  font: var(--section-header-6);
  color: var(--heading-color-3);
}

.section-header-6 {
  font: var(--section-header-6);
  color: var(--heading-color-3);
}

.section-header-7 {
  font: var(--section-header-7);
  color: var(--heading-color-2);
}

.section-body-1 {
  font: var(--section-body-1);

  &.color-1 {
    color: var(--body-color-1);
  }

  &.color-2 {
    color: var(--body-color-2);
  }
}

.section-body-2 {
  font: var(--section-body-1);
  color: var(--body-color-1);
}

.colored-section {
  @media (width >= 900px) {
    border-radius: 16px;
    margin: 16px 16px 0;
  }

  &.not-full-width {
    margin: 0 16px;
    border-radius: 16px;
  }

  &.bg-1 {
    background-color: var(--bg-color-2);
  }

  &.bg-2 {
    background-color: var(--bg-color-3);
  }
}

.light-visible {
  display: var(--light-visible);
}

.dark-visible {
  display: var(--dark-visible);
}

.card-section {
  .container {
    gap: 24px;

    @media (width >= 900px) {
      gap: 48px;
    }

    .section-header-2,
    .secondary-button {
      justify-self: center;
    }
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 24px;

  @media (width >= 900px) {
    gap: 32px;
  }
}

.card {
  padding: 24px;
  overflow: clip;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  gap: 24px;
  height: 100%;
  justify-content: space-between;

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2, h3 {
      font: var(--card-header-2);
    }
  }

  &:hover h2,
  &:hover h3 {
    text-decoration: underline;
  }

  &.large {
    transform: translateY(48px);
    border: var(--card-border-1);

    @media (width >= 900px) {
      transform: translateY(64px);
      padding: 40px;
    }

    .card-content {
      gap: 16px;

      h2, h3 {
        font: var(--card-header-1);
      }

      p:not(.card-category):not(.card-date) {
        font: var(--card-body-4);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
    }
  }

  .card-category {
    background-color: var(--white-100);
    color: var(--green-500);
    font: var(--card-header-5);
    border-radius: 4px;
    padding: 8px 20px;
    width: fit-content;
  }

  .card-date {
    font: var(--card-body-1);
  }
}

[class*="section"] {
  &:has(.ellipse-container) {
    overflow: clip;

    .container {
      z-index: 0;
      position: relative;
    }
  }

  &:has(h1):has(.card-list) {
    margin-bottom: 64px;
  }
}

.block.wide {
  display: none;
}