/* Montserrat-400 */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat-400.woff2') format('woff2');
}

/* Montserrat-500 */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/montserrat-500.woff2') format('woff2');
}

/* Montserrat-700 */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/montserrat-700.woff2') format('woff2');
}

/* Roboto-400 */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto-400.woff2') format('woff2');
}

/* Roboto-500 */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/roboto-500.woff2') format('woff2');
}

/* Roboto-700 */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/roboto-700.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--primary-bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
  max-inline-size: 1240px;
  margin-inline: auto;
  padding-inline: 16px;
}

section > .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 16px;
  background-color: #000;
  color: #FFF;
  opacity: 0;
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

body:has(.nav-controls.active) .skip-link {
  display: none;
}

body:has(.nav-controls.active) {
  @media (scripting: enabled) and (width <= 900px) {
      overflow: clip;
  }
}