/* Montserrat-400 */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/montserrat-400.woff2') format('woff2');
}

/* Montserrat-500 */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/montserrat-500.woff2') format('woff2');
}

/* Montserrat-700 */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/montserrat-700.woff2') format('woff2');
}

/* Roboto-400 */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/roboto-400.woff2') format('woff2');
}

/* Roboto-500 */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/roboto-500.woff2') format('woff2');
}

/* Roboto-700 */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/roboto-700.woff2') format('woff2');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--bg-color-body);
  interpolate-size: allow-keywords;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;

  @media (width >= 900px) {
    gap: 80px;
    margin-bottom: 80px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: flex;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
  max-inline-size: 1240px;
  margin-inline: auto;
  padding-inline: 16px;
}

[class*="section"] > .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  > * {
    grid-column: span 12;
  }
}

.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 16px;
  background-color: var(--black-100);
  color: var(--white-100);
  opacity: 0;

  &:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}

body:has(.nav-controls.active) .skip-link {
  display: none;
}

body:has(.nav-controls.active) {
  @media (scripting: enabled) and (width <= 900px) {
    overflow: clip;
  }
}

.icon:not(.ellipse)::after, 
.icon::before {
  content: "";
  background-color: currentcolor;
  mask-repeat: no-repeat;
  mask-size: cover;
  display: none;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.h1, .h2, .h3, .h4, .h5, .h6, .h7 {
  color: var(--heading-color-primary);

  &.color-secondary {
    color: var(--heading-color-secondary);
  }

  &.color-alt {
    color: var(--heading-color-alt);
  }
}

.h1 {
  font: var(--section-header-xxl);
}

.h2 {
  font: var(--section-header-xl);
}

.h3 {
  font: var(--section-header-l);
}

.h4 {
  font: var(--section-header-m);
}

.h5 {
  font: var(--section-header-s);
}

.h6 {
  font: var(--section-header-xs);
}

.h7 {
  font: var(--section-header-xxs);
}

.body-xl, .body-l, .body-m {
  color: var(--body-color-primary);

  &.color-secondary {
    color: var(--body-color-secondary);
  }
}

.body-xl {
  font: var(--section-body-xl);
}

.body-l {
  font: var(--section-body-l);
}

.body-m {
  font: var(--section-body-m);
}

.color-accent {
  color: var(--heading-color-accent);
}

[class*="section"] {
  &.bg-primary {
    background-color: var(--bg-color-primary);
  }

  &.bg-secondary {
    background-color: var(--bg-color-secondary);
  }

  &.bg-primary, &.bg-secondary {
    margin: 0 16px;
    border-radius: 16px;

    &:first-of-type {
      margin: 0;
      border-radius: 0;

      @media (width >= 900px) {
        margin: 0 16px;
        border-radius: 16px;
      }
    }
  }
}

.intro-section {
  text-align: center;

  .container {
    row-gap: 24px;
    padding-block: 59px;

    @media (width >= 900px) {
      padding-block: 156px;

      > * {
        grid-column: 2 / 12;
      }
    }
  }

  &.text-left {
    text-align: left;
  }
}

.light-visible {
  display: var(--light-visible);
}

.dark-visible {
  display: var(--dark-visible);
}

.card-section {
  .container {
    gap: 24px;

    @media (width >= 900px) {
      gap: 48px;
    }

    .h2,
    .secondary-button {
      justify-self: center;
    }
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 24px;

  @media (width >= 900px) {
    gap: 32px;
  }
}

.card {
  border-radius: 8px;

  a {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    height: 100%;
    border-radius: 8px;
  }

  &.news-card {
    background-color: var(--card-bg-color-news);
  
    a {
      color: var(--card-body-color-news);
    }
  }

  &.knowledge-card {
    background-color: var(--card-bg-color-knowledge);
  
    a {
      color: var(--card-heading-color-knowledge);
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2, h3 {
      font: var(--card-header-l);
    }
  }

  &:hover h2,
  &:hover h3 {
    text-decoration: underline;
  }

  &.large {
    transform: translateY(48px);
    border: var(--card-border);

    @media (width >= 900px) {
      transform: translateY(64px);

      a {
        padding: 40px;
      }
    }

    .card-content {
      h2, h3 {
        font: var(--card-header-xl);
      }

      p:not(.card-category):not(.card-date) {
        font: var(--card-body-xs);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: clip;
      }
    }
  }

  .card-category {
    background-color: var(--white-100);
    color: var(--green-500);
    font: var(--card-header-xs);
    border-radius: 4px;
    padding: 8px 20px;
    width: fit-content;
  }

  .card-date {
    font: var(--card-body-l);
  }
}

.ellipse {
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    mask-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--ellipse-color-light);
  }

  &.hidden-mobile::after {
    display: none;

    @media (width >= 900px) {
      display: block;
    }
  }

  &:not(.card) {
    &::after {
      mask-image: url("/static/icons/ellipse-multiple.svg");
      mask-position: bottom left;
      transform: scaleY(-1);
      mask-size: 1000px;
  
      @media (width >= 900px) {
        mask-size: cover;
        transform: scaleY(1);
      }
    }
  
    &.reverse::after {
      transform: scale(-1);
  
      @media (width >= 900px) {
        transform: scaleX(-1);
      }
    }
  
    &.bg-secondary::after {
      background: var(--ellipse-color-dark);
    }
  }
  
  &.card {
    &::after {
      mask-position: bottom left;
      mask-size: cover;
      background: var(--ellipse-color-light);
      border-radius: 8px;
    }
  
    &:nth-child(3n + 1)::after {
      mask-image: url("/static/icons/ellipse-single-1.svg");
    }
  
    &:nth-child(3n + 2)::after {
      mask-image: url("/static/icons/ellipse-single-2.svg");
    }
  
    &:nth-child(3n)::after {
      mask-image: url("/static/icons/ellipse-single-3.svg");
      mask-position: bottom right;
    }
  }
}