header {
  top: 0;
  z-index: 2;
  background: var(--nav-bg-color);
  transition: border 0.3s, box-shadow 0.3s;
  position: sticky;

  @media (scripting: none) {
    position: initial;
  }

  &.stuck {
    border-bottom: var(--nav-sticky-border);
    box-shadow: var(--nav-sticky-shadow);
  }

  .container {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    gap: 16px;

    @media (width >= 900px) {
      padding: 36px 16px;
    }

    &:has(.active) {
      padding: 0;
    }

    @media (900px <= width <= 1100px) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: start;

      nav {
        place-content: start;
      }

      #nav-sublist {
        left: 0;
        translate: initial;
      }
    }

    @media (scripting: none) {
      flex-wrap: wrap;
    }
  }
}

.header-logo-toggle-controls {
  display: flex;
  justify-content: space-between;
  background: var(--nav-bg-color);
  z-index: 1;
  width: 100%;
  padding: 20px 16px;

  @media (width >= 900px) {
    width: auto;
    padding: 0;
  }
}

.header-logo {
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.toggle-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--nav-text-color);
  font: var(--nav-button);
  fill: currentcolor;

  .close {
    display: none;
  }

  @media (width >= 900px) {
    display: none;
  }

  @media (scripting: none) {
    display: none;
  }

  &::after {
    mask-image: url("/static/icons/hamburger.svg");
    display: block;
    width: 32px;
    height: 32px;
  }
}

header:has(.active) {
  .close {
    display: initial;
  }

  .open {
    display: none;
  }

  .header-logo-toggle-controls {
    padding: 20px 16px;
    border-radius: 0 0 16px 16px;
  }

  .toggle-menu::after {
    mask-image: url("/static/icons/close.svg");
  }
}

.nav-controls {
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--nav-mobile-bg-color);
  display: none;  
  overflow: auto;
  padding: 120px 16px 30px;

  @media (scripting: none) {
    padding: 0;
  }

  @media (prefers-reduced-motion: no-preference) and (scripting: enabled) {
    @supports (transition-behavior: allow-discrete) {
      transition: display 0.5s, opacity 0.5s, left 0.5s;
      transition-behavior: allow-discrete;
      left: 100%;
      opacity: 0;
    }
  }

  @media (width >= 900px) {
    width: 100%;
    flex-direction: row;
    position: initial;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    overflow: initial;
    padding: 0;
    opacity: 1;
    background-color: var(--nav-bg-color);
  }

  @media (scripting: none) {
    position: initial;
    height: auto;
    display: flex;
  }

  &.active {
    display: flex;
    align-items: start;
    gap: 40px;
  
    @media (prefers-reduced-motion: no-preference) {
      @supports (transition-behavior: allow-discrete) {
        left: 0;
        opacity: 1;
        
        @starting-style {
          left: 100%;
          opacity: 0;
        }
      }
    }
  }
}

header nav {
  display: flex;
  align-items: end;
  gap: 8px;
  width: 100%;
  
  @media (width >= 900px) {
    display: flex;
    align-items: center;
    height: auto;
    place-content: center;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;

    @media (width >= 900px) {
      flex-direction: row;
      align-items: center;
      width: auto;
      gap: 32px;
    }

    @media (scripting: none) {
      flex-flow: row wrap;
    }
  }

  .nav-item {
    padding-bottom: 16px;
    border-bottom: var(--nav-mobile-border);

    @media (width >= 900px) {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .nav-item a, 
  .nav-item button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    color: var(--nav-text-color);
    font: var(--nav-link);
    width: 100%;
    border-bottom: 2px solid var(--transparent-100);
    transition: border 0.3s;

    &:hover {
      @media (width >= 900px) {
        border-bottom: 2px solid currentcolor;
      }
    }

    @media (scripting: none) {
      font-size: 1rem;
    }

    @media (width >= 900px) {
      gap: 4px;
      width: auto;
    }
  }

  .nav-item.current a,
  .nav-item.current button {
    @media (width >= 900px) {
      border-bottom: 2px solid currentcolor;
    }
  }

  .nav-item:has(.nav-sublist) {
    @media (width >= 900px) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 150%;
        height: 20px;
      }
    }

    .nav-sublist {
      display: none;
      flex-direction: column;
      gap: 32px;

      @media (prefers-reduced-motion: no-preference) and (scripting: enabled) {
        @supports (transition-behavior: allow-discrete) {
          overflow: clip;
          opacity: 0;

          @supports not (interpolate-size: allow-keywords) {
            max-height: 0;
          }

          @supports (interpolate-size: allow-keywords) {
            height: 0;
          }

          transition: max-height 0.3s, height 0.3s, opacity 0.3s, display 0.3s, padding 0.3s;
          transition-behavior: allow-discrete;
        }
      }

      @media (width >= 900px) {
        gap: 16px;
        position: absolute;
        padding: 20px 24px;
        background-color: var(--nav-dropdown-bg-color);
        border-radius: 8px;
        width: max-content;
        justify-content: space-between;
        translate: -50% 0;
        left: 50%;
        margin-top: 20px;
      }

      &.expanded {
        display: flex;
        padding-top: 20px;
        
        @media (prefers-reduced-motion: no-preference) {
          @supports (transition-behavior: allow-discrete) {
            opacity: 1;

            @supports not (interpolate-size: allow-keywords) {
              max-height: 500px;
            }
  
            @supports (interpolate-size: allow-keywords) {
              height: auto;
            }

            @starting-style {
              opacity: 0;

              @supports not (interpolate-size: allow-keywords) {
                max-height: 0;
              }
    
              @supports (interpolate-size: allow-keywords) {
                height: 0;
              }
            }
          }
        }
      }
    }

    &:focus-within .nav-sublist {
      @media (scripting: none) {
        display: flex;
      }
    }

    &:hover .nav-sublist {
      @media (width >= 900px) {
        display: flex;

        @media (prefers-reduced-motion: no-preference) {
          @supports (transition-behavior: allow-discrete) {
            opacity: 1;

            @supports not (interpolate-size: allow-keywords) {
              max-height: 500px;
            }

            @supports (interpolate-size: allow-keywords) {
              height: auto;
            }

            @starting-style {
              opacity: 0;
              
              @supports not (interpolate-size: allow-keywords) {
                max-height: 0;
              }
    
              @supports (interpolate-size: allow-keywords) {
                height: 0;
              }
            }
          }
        }
      }
    }

    .nav-subitem a {
      display: flex;
      justify-content: space-between;
      font: var(--subnav-link);
      
      @media (scripting: none) {
        font-size: 1rem;
      }

      &::after {
        @media (width >= 900px) {
          display: block;
          mask-image: url("/static/icons/angle-down.svg");
          transform: rotate(270deg);
        }
      }
    }
  }

  #toggle-subnav::after {
    mask-image: url("/static/icons/angle-down.svg");
    display: block;
    transform: scale(1.25);
    transition: transform 0.3s;

    @media (width >= 900px) {
      transform: scale(1);
    }
  }

  &:has(.nav-sublist.expanded) #toggle-subnav::after {
    transform: rotate(180deg) scale(1.25);

    @media (width >= 900px) {
      transform: rotate(0deg) scale(1);
    }
  }
}

.language-theme-controls {
  display: flex;
  gap: 50px;

  @media (width >= 900px) {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.language-form {
  display: flex;
  gap: 8px;
  position: relative;

  &::after {
    mask-image: url("/static/icons/angle-down.svg");
    display: block;
    position: absolute;
    top: 49%;
    right: 4px;
    translate: 0 -50%;
    pointer-events: none;
    height: 20px;
    width: 20px;
    background-color: var(--nav-mobile-lang-text-color);
    
    @media (width >= 900px) {
      background-color: var(--nav-text-color);
    }

    @supports (appearance: base-select) {
      display: none;
    }
  }

  select {
    display: flex;
    cursor: pointer;
    color: var(--nav-mobile-lang-text-color);
    border: none;
    align-items: center;
    font: var(--nav-button);
    text-transform: uppercase;
    appearance: none;
    padding: 2px 30px 2px 8px;
    background: var(--nav-mobile-lang-bg-color);
    border-radius: 8px;
    width: max-content;

    @media (width >= 900px) {
      background-color: var(--nav-lang-bg-color);
      color: var(--nav-text-color);
    }

    @supports (appearance: base-select) {
      padding: 2px 8px;

      selectedcontent {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        span {
          display: none;
        }
      }

      &:open::picker-icon {
        transform: rotate(-180deg);
      }

      &, &::picker(select) {
        appearance: base-select;    
      }

      &::picker(select) {
        border: none;
        border-radius: 8px;
        background: var(--nav-mobile-lang-bg-color);
        box-shadow: var(--nav-sticky-shadow);
  
        @media (width >= 900px) {
          background-color: var(--nav-lang-bg-color);
        } 
      }

      &::picker-icon {
        content: "";
        mask-image: url("/static/icons/angle-down.svg");
        transition: transform 0.3s;
        background-color: currentcolor;
        mask-repeat: no-repeat;
        mask-size: cover;
        display: block;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
      }
    }
  }

  option {
    color: var(--nav-mobile-lang-text-color);
    font: var(--nav-button);
    text-transform: uppercase;

    @media (width >= 900px) {
      color: var(--nav-text-color);
    }

    @supports (appearance: base-select) {
      align-items: center;
      justify-content: center;

      span {
        display: none;
      }

      &::checkmark {
        order: 1;
        content: "";
        mask-image: url("/static/icons/checkmark.svg");
        transition: transform 0.3s;
        background-color: currentcolor;
        mask-repeat: no-repeat;
        mask-size: cover;
        display: block;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
      }
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  button[type="submit"] {
    color: var(--nav-text-color);
    border: 1px solid currentcolor;
    border-radius: 8px;
    padding: 2px;
    display: none;

    @media (scripting: none) {
      display: block;
    }
  }
}

.theme-button {
  display: flex;
  font: var(--nav-button);
  color: var(--nav-text-color);
  gap: 8px;
  align-items: center;

  @media (scripting: none) {
    cursor: default;
  }

  .switch-container {
    background-color: var(--nav-theme-button-bg-color);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 53px;
    height: 32px;
  }

  .switch {
    height: 26px;
    width: 26px;
    border-radius: 100%;
    margin-left: 4px;
    background-color: var(--nav-theme-button-color);
    color: var(--nav-theme-button-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

[data-theme="dark"] .theme-button {
  .switch-container {
    justify-content: right;
  }

  .switch {
    margin-left: 0;
    margin-right: 4px;

    &::after {
      mask-image: url("/static/icons/moon.svg");
      display: block;
    }
  }
}

[data-theme="light"] .theme-button {
  .switch-container {
    justify-content: left;
  }

  .switch {
    margin-left: 4px;
    margin-right: 0;

    &::after {
      mask-image: url("/static/icons/sun.svg");
      display: block;
    }
  }
}

@media (scripting: none) and (prefers-color-scheme: dark) {
  .theme-button {
    .switch-container {
      justify-content: right;
    }

    .switch {
      margin-left: 0;
      margin-right: 4px;

      &::after {
        mask-image: url("/static/icons/moon.svg");
        display: block;
      }
    }
  }
}

@media (scripting: none) and (prefers-color-scheme: light) {
  .theme-button {
    .switch-container {
      justify-content: left;
    }

    .switch {
      margin-left: 4px;
      margin-right: 0;

      &::after {
        mask-image: url("/static/icons/sun.svg");
        display: block;
      }
    }
  }
}