.news-section {
  &.page-variant {
    padding-top: 48px;

    @media (width >= 900px) {
      padding-top: 88px;
    }

    h1 {
      padding-bottom: 16px;

      @media (width >= 900px) {
        padding-bottom: 24px;
      }
    }

    > div > p {
      font: var(--section-header-5);
      color: var(--body-color-2);
    }
  }
}

.news-card {
  background-color: var(--card-bg-color-3);
  color: var(--card-body-color-3);
}