@media print {
  header {
    position: static;
  }
  
  .not-scrolling-up {
    translate: unset;
  }

  .toggle-menu, .nav-controls, .footer-nav, .footer-bar, .action-card {
    display: none;
  }

  .meter-value {
    opacity: 1;
    animation: none;
  }

  meter {
    width: 100%;
    animation: none;
  }

  .result-section .container > * {
    grid-column: span 12;
  }

}