/* internet.nl
   print css
*/


/* firefox bug fix */
main .wrap,
aside,
main .wrap .block,
main .wrap .result {
  display: block;
  width:100%;
}

/* printing not necessary for the following parts */
nav,
.language-switch-list,
.language-switch-header-container,
#menu-button,
aside,
.footlink,
.panel-button-container,
.panel-title a .icon,
.timestamp > :not(a.permalink),
#site-description {
  display:none !important;
}

/* print permalink */
a.permalink::after {
  content: ": " attr(href);
}

/* print design */
header {
  position: absolute !important;
  top:0 !important;
  left:0 !important;
  border-bottom-style: none !important;
  box-shadow: none !important
}

.block,
.result {
  box-shadow: 0 0 0 #ffffff;
}

#site-title a,
#site-description {
  background-image: none !important;
}
#site-title a {
  padding-left:0;
  font-size:32px;
  text-decoration: none;
  font-weight: bold;
  color: #00BFD6;
}
header div span.hidden {
  display:block;
  position: relative;
  overflow: visible;
  height:auto;
  width:auto;
}

#site-title a img {
  display: inherit !important;
  height:1.3em !important;
}

/* show all accordion-items */
div[aria-hidden=true] {
  display:inherit;
}

/* save ink */
main,
.mainwrap,
.testresults,
.body-with-semifixed-header {
  background-color: #ffffff  !important;
}

footer {
  background: #ffffff;
  color: #626262;
}


.score-container {
  border-style: none;
}
.score-container .score {
  -webkit-print-color-adjust: exact;
  height: auto;
  font-size: 150%;
}
.score-container .meter {
  background-size: 100% 160px;
  border: 1px solid #b3b3b3;
  font-size: 150%;
}


#site-title a,
.testresult,
.faq-subtest,
.testresults h2,
.faq-test,
.test-header .test-title h2,
#testresults-overview ul li,
.score-container .meter,
.perfectscore {
  -webkit-print-color-adjust: exact;
}

#site-title a {
  content:url('/static/logo_en.png');
  width: 296px;
  height: 65px;
}
