.test-section {
  .container {
    row-gap: 8px;
    padding-block: 40px;
    
    @media (width >= 900px) {
      gap: 24px 32px;
      padding-block: 104px;
    }
  }

  h1 {
    padding-bottom: 8px;

    @media (width >= 900px) {
      grid-column: 2 / 12;
      padding-bottom: 24px;
    }
  }

  &.home-variant {
    h1 {
      grid-column: span 12;
    }
  }

  &.secondary {
    margin-bottom: 40px;

    @media (width >= 900px) {
      margin-bottom: 80px;
    }
  
    .container {
      row-gap: 24px;
      padding-block: 32px;
  
      @media (width >= 900px) {
        row-gap: 32px;
        padding-block: 48px;
      }
    }
  
    h2 {
      grid-column: span 12;
      text-align: center;
  
      @media (width >= 900px) {
        grid-column: 2 / 12;
      }
    }
  }
}

.test-card-large {
  background: var(--card-bg-color-1);
  padding: 32px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 12;

  @media (width >= 900px) {
    padding: 48px;
    grid-column: 2 / 12;
  }

  h2 {
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--card-heading-color-1);
    font: var(--card-header-1);
    padding-bottom: 24px;

    svg {
      min-width: 32px;
      min-height: 32px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (width >= 900px) {
      flex-direction: row;
      gap: 24px;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--card-body-color-1);
    font: var(--card-header-5);
    padding-bottom: 16px;
    
    @media (width >= 900px) {
      width: 50%;
      padding-bottom: 0;
    }
  }

  input {
    padding: 8px 16px;
    border-radius: 4px;
    background: var(--card-input-bg-color-1);
    font: var(--card-input-1);
    color: var(--card-body-color-1);
    border: 1px solid currentcolor;

    &::placeholder {
      color: var(--card-body-color-1);
    }
  }

  button {
    padding: 10px 16px;

    @media (width >= 900px) {
      width: 50%;
      align-self: end;
      height: fit-content;
    }
  }

  &.home-variant {
    @media (width >= 900px) {
      grid-column: span 8;
      grid-row: span 2;
    }

    a {
      display: none;
      margin-top: 24px;
      align-items: center;
      gap: 16px;
      color: var(--card-body-color-1);
      font: var(--section-link-2);
      width: fit-content;
      border-bottom: 1px solid var(--transparent-100);
      transition: 0.3s;
  
      &:hover {
        border-bottom: 1px solid currentcolor;
      }
      
      @media (width >= 900px) {
        display: flex;
      }
    }
  }

  &.domain-variant,
  &.mail-variant {
    ul {
      display: none;
      gap: 48px;
      padding-top: 24px;;
  
      @media (width >= 900px) {
        display: flex;
      }
    }
  
    li {
      display: flex;
      align-items: center;
      gap: 16px;
      color: var(--card-body-color-1);
      font: var(--section-link-2);
  
      svg {
        border-radius: 100%;
        padding: 4px;
        min-width: 24px;
        min-height: 24px;
        background: var(--green-100);
      }
    }
  }

  &.connection-variant {
    #form-connection-test {
      @media (width >= 900px) {
        width: 50%;
      }
    }

    .connection-button {
      @media (width >= 900px) {
        width: 100%;
      }
    }

    .secondary-button {
      width: 100%;

      @media (width >= 900px) {
        width: 50%;
      }

      &:hover {
        border: 2px solid var(--button-bg-color-hover-2);
      }
    }
  }

  &.mail-variant {
    .mail-input-container {
      position: relative;
      display: flex;
      align-items: center;

      input {
        padding-left: 50px;
        width: 100%;
      }

      .mail-icon-container {
        position: absolute;
        pointer-events: none;
        background-color: white;
        padding: 6px;
        height: calc(100% - 2px);
        left: 2px;
        border-right: 1px solid currentcolor;
        border-radius: 4px 0 0 4px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.test-card-small {
  display: flex;
  align-items: center;
  grid-column: span 12;
  padding: 24px 16px;
  background: var(--card-bg-color-1);
  border-radius: 8px;
  gap: 16px;
  justify-content: space-between;

  @media (width >= 900px) {
    grid-column: 2 / 7;
    padding: 36px 24px;

    &:nth-of-type(2) {
      grid-column: 7 / 12;
    }
  }

  &.home-variant {
    @media (width >= 900px) {
      grid-column: span 4;
      grid-row: span 1;
    }
  }

  .card-container {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;

    @media (width >= 900px) {
      gap: 8px;
    }

    h2, h3 {
      color: var(--card-heading-color-1);
      font: var(--card-header-4);
    }

    p {
      color: var(--card-body-color-1);
      font: var(--card-body-1);
    }
  }
}