{% extends "base.html" %}
{% load static %}
{% load translate %}

{% block maincontent %}
  <!-- <article class="block wide">
    <section>
      {% if "INTERNETNL_BRANDING"|get_settings_value %}
      {% include "content.html" with name="about content" %}
      {% else %}
      {% include "content.html" with name="about content custom" %}
      {% endif %}
    </section>
  </article>
  <aside>
    <section class="block">
      {% if "INTERNETNL_BRANDING"|get_settings_value %}
      {% include "content.html" with name="about contact" %}
      {% else %}
      {% include "content.html" with name="about contact custom" %}
      {% endif %}
    </section>
  </aside> -->

  <section class="intro-section bg-secondary ellipse reverse">
    <div class="container">
      <p class="h5 color-alt">Over ons</p>
      <h1 class="h1">Wij helpen jou testen en het identificeren van prestatieproblemen zoals trage laadtijden en serverfouten.</h1>
    </div>
  </section>

  <section class="about-section home-variant">
    <div class="container">
      <h2 class="h7 color-accent">Onze missie</h2>
      <p class="h4">Het doel van het platform is om het gebruik van moderne internetstandaarden verder te vergroten en voor iedereen toegankelijker, veiliger en betrouwbaarder te maken.</p>
      <p class="body-xl color-secondary">De testtool Internet.nl is een initiatief van het Platform Internetstandaarden. Het is een samenwerkingsverband van de Internetgemeenschap en de Nederlandse overheid. Momenteel nemen de volgende partijen deel in het platform:</p>
      <ul class="logo-list">
        <li>
          <a href="https://surf.nl/" target="_blank" aria-label="Ga naar de website van Surf">
            <img class="light-visible" src="/static/images/surf.png" alt="Surf logo" loading="lazy" width="100" height="52">
            <img class="dark-visible" src="/static/images/surf-wit.png" alt="Surf logo" loading="lazy" width="100" height="52">
          </a>
        </li>
        <li>
          <a href="https://ncsc.nl" target="_blank" aria-label="Ga naar de website van NCSC">
            <img class="light-visible" src="/static/images/ncsc.png" alt="NCSC logo" loading="lazy" width="224" height="90">
            <img class="dark-visible" src="/static/images/ncsc-wit.png" alt="NCSC logo" loading="lazy" width="224" height="90">
          </a>
        </li>
        <li>
          <a href="https://nlnet.nl/" target="_blank" aria-label="Ga naar de website van NLnet">
            <img class="light-visible" src="/static/images/nlnet.png" alt="NLnet logo" loading="lazy" width="146" height="55">
            <img class="dark-visible" src="/static/images/nlnet-wit.png" alt="NLnet logo" loading="lazy" width="146" height="55">
          </a>
        </li>
        <li>
          <a href="https://ripe.net/" target="_blank" aria-label="Ga naar de website van Ripe NCC">
            <img class="light-visible" src="/static/images/ncc.png" alt="Ripe NCC logo" loading="lazy" width="180" height="32">
            <img class="dark-visible" src="/static/images/ncc-wit.png" alt="Ripe NCC logo" loading="lazy" width="180" height="32">
          </a>
        </li>
        <li>
          <a href="https://verenigingvanregistrars.nl/" target="_blank" aria-label="Ga naar de website van VVR">
            <img class="light-visible" src="/static/images/vvr.png" alt="VVR logo" loading="lazy" width="200" height="46">
            <img class="dark-visible" src="/static/images/vvr-wit.png" alt="VVR logo" loading="lazy" width="200" height="46">
          </a>
        </li>
      </ul>
    </div>
  </section>

  <aside class="quote-section bg-primary ellipse reverse">
    <div class="container">
      <img src="/static/images/portret-oprichter-internetnl.png" alt="Portret van Coen Wesselman, oprichter van Internet.nl" class="quote-image" loading="lazy" width="100" height="100">
      <blockquote>
        <p class="h4 color-secondary">“Het doel van het platform is om het gebruik van moderne internetstandaarden verder te vergroten en voor iedereen toegankelijker, veiliger en betrouwbaarder te maken.”</p>
        <cite class="body-m color-secondary"><strong>Coen Wesselman</strong> - Oprichter Internet.nl</cite>
      </blockquote>
    </div>
  </aside>

  <section class="knowledge-section">
    <div class="container">
      <div class="content">
        <h2 class="h3 color-secondary">Waarom zou je jouw <span class="color-accent">standaarden</span> moeten testen?</h2>
        <p class="body-l">De testtool Internet.nl is een initiatief van het Platform Internetstandaarden. Het doel van het platform is om gezamenlijk het gebruik van moderne internetstandaarden verder te vergroten om daarmee het internet voor iedereen toegankelijker, veiliger en betrouwbaarder te maken.</p>
      </div>
      <ul class="knowledge-list" id="card-carousel">
        <li class="card home-variant knowledge-card ellipse icon">
          <h3 id="knowledge-dia-1">Beveiligingslekken en kwetsbaarheid opzoeken</h3>
          <p>Dit helpt bij het voorkomen van cyberaanvallen, hacking, en datalekken. </p>
        </li>
        <li class="card home-variant knowledge-card ellipse icon">
          <h3 id="knowledge-dia-2">Garanderen van compatibiliteit</h3>
          <p>Testen zorgt ervoor dat gebruikers een toegankelijke, consistente en optimale ervaring hebben.</p>
        </li>
        <li class="card home-variant knowledge-card ellipse icon">
          <h3 id="knowledge-dia-3">Identificeren van prestatie problemen</h3>
          <p>Testen helpt bij het identificeren van prestatieproblemen zoals trage laadtijden en serverfouten.</p>
        </li>
      </ul>
      <ul class="dots" aria-label="Scrollbare carousel navigatie" aria-controls="card-carousel">
        <li class="dot active"><button type="button"></button></li>
        <li class="dot"><button type="button"></button></li>
        <li class="dot"><button type="button"></button></li>
      </ul>
      <div class="button-container">
        <a class="secondary-button icon" href="/test-site">Ik wil graag testen</a>
        <p class="body-m color-secondary">487 succesvolle testen!</p>
      </div>
    </div>
  </section>

  <section class="faq-section ellipse hidden-mobile">
    <div class="container">
      <h2 class="h3 color-secondary">Veelgestelde vragen</h2>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <a class="secondary-button icon" href="/">Bekijk alle gestelde vragen</a>
      <article class="contact-card">
        <h3>Contact met ons</h3>
        <p>Heeft u een vraag, opmerking of klacht?<br>Wij helpen u graag.</p>
        <ul>
          <li>
            <a href="/">
              <div>
                <h4 class="mail icon">Mailen</h4>
                <p>Contact wanneer het u uitkomt</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li>
            <a href="/">
              <div>
                <h4 class="help icon">Technische hulp</h4>
                <p>We helpen u graag verder</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li>
            <a href="/">
              <div>
                <h4 class="visit icon">Bezoeken</h4>
                <p>Het adres van ons kantoor</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
        </ul>
      </article>
    </div>
  </section>
{% endblock %}
