{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load translate %}

{% block maincontent %}
  <article class="block wide">
    <section class="overview">
        <h1>{% include "string.html" with name="{{pagetitle}}"%}</h1>
      {% for article in articles %}
      {% expand "article {{article}} title" as articletitle %}
      {% expand "article {{article}} date" as articledate %}
      {% expand "article {{article}} lead" as articlelead %}
      {% expand "article {{article}} author" as articleauthor %}
      {% trans articleauthor as author %}
        <div>
          <a href="/article/{{article}}">
            {% if author != articleauthor %}
              {% expand "author {{author}} name" as authorname %}
              <h2>Blog {% include "string.html" with name=authorname %}: {% include "string.html" with name=articletitle %}</h2>
              {% include "content.html" with name=articlelead %}
            {% else %}
              <h2>{% include "string.html" with name=articletitle %}</h2>
              {% include "string_no_tags.html" with name=articlelead %}
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </section>
  </article>


  <section class="news-section page-variant colored-section bg-1">
    <div class="container">
      <h1 class="section-header-1 color-1">Nieuws & Artikelen</h1>
      <p>Bekijk ons nieuws met updates en handige informatie.</p>
      <ul class="card-list">
        {% for article in articles|slice:":2" %}
          {% expand "article {{article}} title" as articletitle %}
          {% expand "article {{article}} date" as articledate %}
          {% expand "article {{article}} lead" as articlelead %}
        <li>
          <a class="card news-card ellipse-color-1 large" href="/article/{{article}}">
            <div class="card-content">
              <p class="card-date">{% include "string.html" with name=articledate %}</p>
              <h2>{% include "string.html" with name=articletitle %}</h2>
              <p>{% include "string.html" with name=articlelead %}</p>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  
  <section class="card-section">
    <div class="container">
      <h2 class="section-header-2 color-1">Onze laatste nieuws</h2>
      <ul class="card-list">
        {% for article in articles|slice:":9" %}
          {% expand "article {{article}} title" as articletitle %}
          {% expand "article {{article}} date" as articledate %}
          {% expand "article {{article}} lead" as articlelead %}
        <li>
          <a class="card news-card ellipse-color-1" href="">
            <div class="card-content">
              <p class="card-date">{% include "string.html" with name=articledate %}</p>
              <h3>{% include "string.html" with name=articletitle %}</h3>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
        {% endfor %}
      </ul>
      <button id="load-articles-button" class="secondary-button icon" type="button">Laad meer artikelen</button>
    </div>
  </section>

  <section class="faq-section">
    <div class="container">
      <h2 class="section-header-3">Veelgestelde vragen</h2>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <a class="secondary-button icon" href="/">Bekijk alle gestelde vragen</a>
      <article class="contact-card">
        <h3>Contact met ons</h3>
        <p>Heeft u een vraag, opmerking of klacht?<br>Wij helpen u graag.</p>
        <ul>
          <li>
            <a href="/">
              <div>
                <h4 class="mail icon">Mailen</h4>
                <p>Contact wanneer het u uitkomt</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li>
            <a href="/">
              <div>
                <h4 class="help icon">Technische hulp</h4>
                <p>We helpen u graag verder</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li>
            <a href="/">
              <div>
                <h4 class="visit icon">Bezoeken</h4>
                <p>Het adres van ons kantoor</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
        </ul>
      </article>
      <div class="ellipse-container bottom-left ellipse-color-1 hidden-mobile">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
    </div>
  </section>
{% endblock %}
