{% extends "base.html" %}
{% load static %}
{% load translate %}

{% block maincontent %}
<section class="intro-section bg-primary ellipse reverse">
  <div class="container">
    <hgroup class="flipped">
      <h1 class="h1 color-secondary">{% include "string.html" with name=title %}</h1>
      <p class="h5 color-secondary">{% include "string.html" with name="base news" %} | {% include "string.html" with name=date %} </p>
    </hgroup>
  </div>
</section>

<section class="article-content-section">
  <div class="container">
    <h2 class="h3">{% include "string.html" with name=lead %}</h2>
    {% translate body %}
  </div>
</section>

<section class="card-section">
  <div class="container">
    <h2 class="h2 color-secondary">{% include "string.html" with name="news other" %}</h2>
    <ul class="card-list">
      {% for article in articles|slice:":3" %}
        {% expand "article {{article}} title" as articletitle %}
        {% expand "article {{article}} date" as articledate %}
        {% expand "article {{article}} lead" as articlelead %}
      <li class="card news-card ellipse">
        <a href="/article/{{article}}">
          <hgroup class="flipped">
            <h3>{% include "string.html" with name=articletitle %}</h3>
            <p class="card-date">{% include "string.html" with name=articledate %}</p>
          </hgroup>
          <div class="secondary-button rounded icon"></div>
        </a>
      </li>
      {% endfor %}
    </ul>
    <a class="secondary-button icon" href="/articles">{% include "string.html" with name="news link" %}</a>
  </div>
</section>

<section class="contact-section ellipse hidden-mobile">
  <div class="container">
    <h2 class="h3 color-secondary">{% include "string.html" with name="faqs section title" %}</h2>
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        {% include "string.html" with name="faqs section question-1" %}
      </summary>
      <p>{% include "string.html" with name="faqs section answer-1" %}</p>
    </details>
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        {% include "string.html" with name="faqs section question-2" %}
      </summary>
      <p>{% include "string.html" with name="faqs section answer-2" %}</p>
    </details>      
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        {% include "string.html" with name="faqs section question-3" %}
      </summary>
      <p>{% include "string.html" with name="faqs section answer-3" %}</p>
    </details>      
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        {% include "string.html" with name="faqs section question-4" %}
      </summary>
      <p>{% include "string.html" with name="faqs section answer-4" %}</p>
    </details>      
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        {% include "string.html" with name="faqs section question-5" %}
      </summary>
      <p>{% include "string.html" with name="faqs section answer-5" %}</p>
    </details>
    <a class="secondary-button icon" href="/faqs">{% include "string.html" with name="faqs section link" %}</a>
    <article class="contact-card">
      <hgroup>
        <h3>{% include "string.html" with name="base contact" %}</h3>
        <p>{% include "string.html" with name="contact section description" %}</p>
      </hgroup>
      <ul>
        <li class="contact-card-small">
          <a href="mailto:question@internet.nl">
            <hgroup>
              <h4 class="mail icon">{% include "string.html" with name="contact section mail" %}</h4>
              <p>{% include "string.html" with name="contact section mail-description" %}</p>
            </hgroup>
            <div class="secondary-button rounded icon"></div>
          </a>
        </li>
        <li class="contact-card-small">
          <a href="https://github.com/internetstandards/Internet.nl">
            <hgroup>
              <h4 class="help icon">{% include "string.html" with name="contact section issue" %}</h4>
              <p>{% include "string.html" with name="contact section issue-description" %}</p>
            </hgroup>
            <div class="secondary-button rounded icon"></div>
          </a>
        </li>
      </ul>
    </article>
  </div>
</section>
{% endblock %}
