<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load translate %}
<html lang="{{request.current_language_code}}" >

<head>
  <meta charset="utf-8">
  <title>{{pagetitle}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="{{_("page metadescription")}}">
  <meta name="keywords" content="{{_("page metakeywords")}}">
  <meta name="author" content="Platform Internetstandaarden / Internet Standards Platform">
  <link rel="icon" href="{% static "favicon.png" %}" sizes="32x32" />
  <link rel="icon" href="{% static "favicon.png" %}" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="{% static 'favicon.png' %}" />
  <meta name="msapplication-TileImage" content="{% static 'favicon.png' %}" />
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style-min.css' %}" /> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />

  <link rel="stylesheet" href="{% static 'css/layers.css' %}" />
  <!-- <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" href="{% static 'css/variables.css' %}" />
  <link rel="stylesheet" href="{% static 'css/components.css' %}" />
  <link rel="stylesheet" href="{% static 'css/header.css' %}" />
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'css/test-section.css' %}" />
  <link rel="stylesheet" href="{% static 'css/knowledge-section.css' %}" />
  <link rel="stylesheet" href="{% static 'css/hall-of-fame-section.css' %}" />
  <link rel="stylesheet" href="{% static 'css/about-section.css' %}" />
  <link rel="stylesheet" href="{% static 'css/news-section.css' %}" />
  <link rel="stylesheet" href="{% static 'css/contact-section.css' %}" />   -->

  <script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/headroom-min.js" %}"></script>

  <script type="text/javascript" src="{% static 'js/imagecheck-min.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'js/theme-min.js' %}" defer></script>
  <script src="{% static 'js/initial-min.js' %}"></script>
  <script src="{% static 'js/header-min.js' %}" defer></script>
  <script src="{% static 'js/language-switch-min.js' %}" defer></script>
  <script src="{% static 'js/carrousel-min.js' %}" defer></script>
  <script src="{% static 'js/load-more-min.js' %}" defer></script>
  <script src="{% static 'js/result-meter-min.js' %}" defer></script>

  {% block scripting %}
  {% endblock %}
</head>
<body class="{{pageclass}}">
  <!-- <div class="hidethis" aria-hidden="true">
    <span id="matomo-url">{{"MATOMO_URL"|get_settings_value}}</span>
    <span id="matomo-siteid">{{"MATOMO_SITEID"|get_settings_value}}</span>
    <span id="matomo-subdomain-tracking">{{"MATOMO_SUBDOMAIN_TRACKING"|get_settings_value}}</span>
  </div> -->
  <!-- <div class="skiplink"><a href="#content">{% include "string.html" with name='page gotocontents' %}</a></div>
  <div class="skiplink" id="skiplink-sitenav"><a href="#sitenav">{% include "string.html" with name='page gotomainmenu' %}</a></div>
  <div class="skiplink"><a href="#footer">{% include "string.html" with name='page gotofooter' %}</a></div> -->

  <header>
    <a class="skip-link" href="#main-content">Ga naar hoofdinhoud</a>
    <div class="container">
      <div class="header-logo-toggle-controls">
        {% if "INTERNETNL_BRANDING"|get_settings_value %}
        <a class="header-logo" href="/" aria-label="Internet.nl Homepagina">
          <picture class="light-visible">
            <source srcset="/static/logos/logo.svg" media="(width >= 900px)">
            <img src="/static/logos/logo-mobile.svg" alt="Internet.nl Logo" width="182" height="40" loading="lazy">
          </picture>
          <picture class="dark-visible">
            <source srcset="/static/logos/logo-white.svg" media="(width >= 900px)">
            <img src="/static/logos/logo-white-mobile.svg" alt="Internet.nl Logo" width="182" height="40" loading="lazy">
          </picture>
        </a>
        {% endif %}
        <button class="toggle-menu icon large" type="button" aria-controls="nav-controls" aria-expanded="false">
          <span class="open">Menu</span>
          <span class="close">Sluiten</span>
        </button>
      </div>
      <div id="nav-controls" class="nav-controls">
        <nav>
          <ul class="nav-list">
            <li class="nav-item">
              <button id="toggle-subnav" class="icon" type="button" aria-controls="nav-sublist" aria-expanded="false">Test tools</button>
              <ul id="nav-sublist" class="nav-sublist">
                <li class="nav-subitem">
                  <a class="icon" href="/test-site">Test je website</a>
                </li>
                <li class="nav-subitem">
                  <a class="icon" href="/test-connection">Test je verbinding</a>
                </li>
                <li class="nav-subitem">
                  <a class="icon" href="/test-mail">Test je e-mail</a>
                </li>
              </ul>
            </li>
            <li class="nav-item {% if pagemenu == 'faqs' %}current{% endif %}">
              <a href="/faqs">{% include "string.html" with name="base faqs" %}</a>
            </li>
            <li class="nav-item {% if pagemenu == 'halloffame' %}current{% endif %}">
              <a href="/halloffame">{% include "string.html" with name="base halloffame" %}</a>
            </li>
            <li class="nav-item {% if pagemenu == 'articles' %}current{% endif %}">
              <a href="/articles">{% include "string.html" with name="base news" %}</a>
            </li>
            <li class="nav-item {% if pagemenu == 'about' %}current{% endif %}">
              <a href="/about">{% include "string.html" with name="base about" %}</a>
            </li>
            <li class="nav-item {% if pagemenu == 'contact' %}current{% endif %}">
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="language-theme-controls">
          <form class="language-form icon" action="/change_language/" method="post">
            <select id="language-select" name="language" aria-label="Kies een taal">
              <button>
                  <selectedcontent></selectedcontent>
              </button>
              {% with user_language=request.current_language_code %}
                {% for language in LANGUAGES %}
                  {% get_language_info for language.0 as lang %}
                  <option aria-label="{{lang.name_local}}" value="{{ language.0 }}" {% if language.0 == user_language %}selected{% endif %}>
                    <img src="/static/icons/{{ language.0 }}-flag.svg" width="20" height="20" alt="{{lang.name_local}} vlag">
                    <span>{{ language.0 }}</span>
                  </option>
                {% endfor %}
              {% endwith %}
            </select>
            <button type="submit">Taal wijzigen</button>
          </form>
          <button id="theme-toggle" class="theme-button" type="button">
            <span>Mode</span>
            <span class="visually-hidden light-visible">Schakel naar donkere thema</span>
            <span class="visually-hidden dark-visible">Schakel naar lichte thema</span>
            <span class="switch-container">
              <span class="switch icon"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </header>

  <main id="main-content">
    {% block introcontent %}
    {% endblock %}

    {% block maincontent %}
    {% endblock %}
  </main>

  <footer>
    <div class="footer-nav">
      <div class="container">
        <a class="footer-logo" href="/" aria-label="Internet.nl Homepagina">
          <img src="/static/logos/logo-white.svg" alt="Internet.nl Logo" width="182" height="40" loading="lazy">
        </a>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="icon" href="/test-tools">
              <span>Test tools</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/faqs">
              <span>Kennisbank</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/halloffame">
              <span>Hall of fame</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/articles">
              <span>Nieuws</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/about">
              <span>Over ons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/contact">
              <span>Service & contact</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bar">
      <div class="container">
        <ul class="footer-links">
          <li class="footer-link">
            <a href="/disclosure">Kwetsbaarheid melden</a>
          </li>
          <li class="footer-link">
            <a href="/privacy">Privacyverklaring</a>
          </li>
          <li class="footer-link">
            <a href="/copyright">Auteursrecht</a>
          </li>
          {% if "HAS_ACCESSIBILITY_PAGE"|get_settings_value %}
          <li class="footer-link">
            <a href="/accessibility">Toegankelijkheid</a>
          </li>
          {% endif %}
        </ul>
        {% if "INTERNETNL_BRANDING"|get_settings_value %}
        <ul class="footer-socials">
          <li class="footer-social">
            <a class="x icon" href="https://x.com/internet_nl/" target="_blank">
              <span class="visually-hidden">Ga naar onze X profiel</span>
            </a>
          </li>
          <li class="footer-social">
            <a class="linkedin icon" href="https://www.linkedin.com/company/internet-nl/" target="_blank">
              <span class="visually-hidden">Ga naar onze LinkedIn profiel</span>
            </a>
          </li>
          <li class="footer-social">
            <a class="mastodon icon" href="https://mastodon.nl/@internet_nl" target="_blank">
              <span class="visually-hidden">Ga naar onze Mastodon profiel</span>
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    <p class="version">v{{ "VERSION"|get_settings_value }}</p>
  </footer>

  <!-- <script type="text/javascript" src="{% static "js/menu-min.js" %}" defer></script> -->
  <script type="text/javascript" src="{% static "js/accordion-min.js" %}" defer></script>
  <script type="text/javascript" src="{% static "js/matomo-min.js" %}"></script>
</body>
</html>
