{% extends "base.html" %}
{% load static %}
{% load translate %}

{% block scripting %}
  <script type="text/javascript" src="{% static 'js/internetnl.probe-min.js' %}"></script>
{% endblock %}

{% block maincontent %}
<section class="result-section loading bg-primary ellipse reverse hidden-mobile">
  <div class="container">
    <hgroup>
      <h1>
        <span class="h5 color-secondary">{% include "string.html" with name="base_probe_score_loading_newstring" %}</span>
        <span class="h1 color-secondary">
          {% block testtitle %}
          {% endblock %}
        </span>
      </h1>
      <p class="body-m">
        {% include "string.html" with name="probes tests-duration" cache_ttl="CACHE_TTL"|get_settings_value %}
        <span class="probing-text hidethis">
          {% include "string.html" with name="probes auto-redirect" %}
        </span>
        {% include "string.html" with name="probes tests-description" %}
      </p>
    </hgroup>
    <ul>
      {% for probe in probes %}
      <li class="probing icon h7 color-secondary">
        {% translate probe.title %}
        <span id="{{probe.name}}-summary" class="visually-hidden" aria-live="polite">{% include "string.html" with name="probes test-running" %}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
