<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load translate %}
<html lang="{{request.current_language_code}}" >

<head>
  <meta charset="utf-8">
  <title>{{pagetitle}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="{{_("page metadescription")}}">
  <meta name="keywords" content="{{_("page metakeywords")}}">
  <meta name="author" content="Platform Internetstandaarden / Internet Standards Platform">
  <link rel="icon" href="{% static "favicon.png" %}" sizes="32x32" />
  <link rel="icon" href="{% static "favicon.png" %}" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="{% static 'favicon.png' %}" />
  <meta name="msapplication-TileImage" content="{% static 'favicon.png' %}" />

  <link rel="stylesheet" href="{% static 'css/layers.css' %}" />

  <script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static 'js/headroom-min.js' %}"></script>

  <script src="{% static 'js/theme-min.js' %}" defer></script>
  <script src="{% static 'js/initial-min.js' %}"></script>
  <script src="{% static 'js/header-min.js' %}" defer></script>
  <script src="{% static 'js/language-switch-min.js' %}" defer></script>
  <script src="{% static 'js/carrousel-min.js' %}" defer></script>
  <script src="{% static 'js/load-more-min.js' %}" defer></script>
  <script src="{% static 'js/result-meter-min.js' %}" defer></script>
  <script src="{% static 'js/action-card-fallback-min.js' %}" defer></script>
  <script src="{% static 'js/copy-link-min.js' %}" defer></script>
  <script src="{% static 'js/print-min.js' %}" defer></script>
  <script src="{% static 'js/matomo-min.js' %}" defer></script>
  <script src="{% static 'js/repeat-test-countdown-min.js' %}" defer></script>

  {% block scripting %}
  {% endblock %}
</head>
<body class="{{pageclass}}">

  <div class="matomo">
    <span id="matomo-url">{{"MATOMO_URL"|get_settings_value}}</span>
    <span id="matomo-siteid">{{"MATOMO_SITEID"|get_settings_value}}</span>
    <span id="matomo-subdomain-tracking">{{"MATOMO_SUBDOMAIN_TRACKING"|get_settings_value}}</span>
  </div>

  <header>
    <a class="skip-link" href="#main-content">{% include "string.html" with name="base_header_skip_to_main_newstring" %}</a>
    <div class="container">
      <div class="header-logo-toggle-controls">
        {% if "INTERNETNL_BRANDING"|get_settings_value %}
        <a class="header-logo" href="/" aria-label="{% include "string.html" with name="base_header_homepage_label_newstring" %}">
          <picture class="light-visible">
            <source srcset="/static/logos/logo.svg" media="(width >= 900px)">
            <img src="/static/logos/logo-mobile.svg" alt="Internet.nl Logo" width="227.5" height="50">          
          </picture>
          <picture class="dark-visible">
            <source srcset="/static/logos/logo-white.svg" media="(width >= 900px)">
            <img src="/static/logos/logo-white-mobile.svg" alt="Internet.nl Logo" width="227.5" height="50">          
          </picture>
        </a>
        {% endif %}
        <button class="toggle-menu icon large" type="button" aria-controls="nav-controls" aria-expanded="false">
          <span class="open">{% include "string.html" with name="base_header_menu_newstring" %}</span>
          <span class="close">{% include "string.html" with name="base_header_close_newstring" %}</span>
        </button>
      </div>
      <div id="nav-controls" class="nav-controls">
        <nav>
          <ul class="nav-list">
            <li class="nav-item {% if pagemenu == 'test-tools' %}current{% endif %}">
              <button id="toggle-subnav" class="icon" type="button" aria-controls="nav-sublist" aria-expanded="false">{% include "string.html" with name="base_header_test_tools_newstring" %}</button>
              <ul id="nav-sublist" class="nav-sublist">
                <li class="nav-subitem">
                  <a class="icon" href="/test-site">{% include "string.html" with name="base_header_test_website_newstring" %}</a>
                </li>
                <li class="nav-subitem">
                  <a class="icon" href="/test-connection">{% include "string.html" with name="base_header_test_connection_newstring" %}</a>
                </li>
                <li class="nav-subitem">
                  <a class="icon" href="/test-mail">{% include "string.html" with name="base_header_test_email_newstring" %}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item {% if pagemenu == 'faqs' %}current{% endif %}">
              <a href="/faqs">{% include "string.html" with name="base faqs" %}</a>
            </li>
            <li class="nav-item {% if pagemenu == 'halloffame' %}current{% endif %}">
              <a href="/halloffame">{% include "string.html" with name="base halloffame" %}</a>
            </li>
            <li class="nav-item {% if pagemenu == 'news' %}current{% endif %}">
              <a href="/articles">{% include "string.html" with name="base news" %}</a>
            </li>
            <li class="nav-item {% if pagemenu == 'about' %}current{% endif %}">
              <a href="/about">{% include "string.html" with name="base about" %}</a>
            </li>
            <li class="nav-item {% if pagemenu == 'contact' %}current{% endif %}">
              <a href="/contact">{% include "string.html" with name="base_header_contact_newstring" %}</a>
            </li>
          </ul>
        </nav>
        <div class="language-theme-controls">
          <form class="language-form icon" action="/change_language/" method="post">
            <select id="language-select" name="language" aria-label="{% include "string.html" with name="base_language_select_label_newstring" %}">
              {% with user_language=request.current_language_code %}
                {% for language in LANGUAGES %}
                  {% get_language_info for language.0 as lang %}
                  <option aria-label="{{lang.name_local}}" lang="{{ language.0 }}" value="{{ language.0 }}"  {% if language.0 == user_language %}selected{% endif %}>
                    {{ language.0|upper }}
                  </option>
                {% endfor %}
              {% endwith %}
            </select>
            <button type="submit">{% include "string.html" with name="base_language_change_button_newstring" %}</button>
          </form>
          <button id="theme-toggle" class="theme-button" type="button">
            <span>{% include "string.html" with name="base_theme_toggle_mode_newstring" %}</span>
            <span class="visually-hidden light-visible">{% include "string.html" with name="base_theme_toggle_to_dark_newstring" %}</span>
            <span class="visually-hidden dark-visible">{% include "string.html" with name="base_theme_toggle_to_light_newstring" %}</span>
            <span class="switch-container">
              <span class="switch icon"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </header>

  <main id="main-content">
    {% block introcontent %}
    {% endblock %}

    {% block maincontent %}
    {% endblock %}
  </main>

  <footer>
    <div class="footer-nav">
      <div class="container">
        <a class="footer-logo" href="/" aria-label="{% include "string.html" with name="base_header_homepage_label_newstring" %}">
          <img src="/static/logos/logo-white.svg" alt="Internet.nl Logo" width="227.5" height="50" loading="lazy">
        </a>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="icon" href="/test-tools">{% include "string.html" with name="base_footer_test_tools_newstring" %}</a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/faqs">{% include "string.html" with name="base_footer_knowledge_base_newstring" %}</a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/halloffame">{% include "string.html" with name="base_footer_hall_of_fame_newstring" %}</a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/articles">{% include "string.html" with name="base_footer_news_newstring" %}</a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/about">{% include "string.html" with name="base_footer_about_us_newstring" %}</a>
          </li>
          <li class="nav-item">
            <a class="icon" href="/contact">{% include "string.html" with name="base_footer_service_contact_newstring" %}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bar">
      <div class="container">
        <ul class="footer-links">
          <li class="footer-link">
            <a href="/disclosure">{% include "string.html" with name="base_footer_vulnerability_report_newstring" %}</a>
          </li>
          <li class="footer-link">
            <a href="/privacy">{% include "string.html" with name="base_footer_privacy_statement_newstring" %}</a>
          </li>
          <li class="footer-link">
            <a href="/copyright">{% include "string.html" with name="base_footer_copyright_newstring" %}</a>
          </li>
          {% if "HAS_ACCESSIBILITY_PAGE"|get_settings_value %}
          <li class="footer-link">
            <a href="/accessibility">{% include "string.html" with name="base_footer_accessibility_newstring" %}</a>
          </li>
          {% endif %}
        </ul>
        {% if "INTERNETNL_BRANDING"|get_settings_value %}
        <ul class="footer-socials">
          <li class="footer-social">
            <a class="linkedin icon" href="https://www.linkedin.com/company/internet-nl/" target="_blank">
              <span class="visually-hidden">{% include "string.html" with name="base_footer_goto_linkedin_newstring" %}</span>
            </a>
          </li>
          <li class="footer-social">
            <a class="mastodon icon" href="https://mastodon.nl/@internet_nl" target="_blank">
              <span class="visually-hidden">{% include "string.html" with name="base_footer_goto_mastodon_newstring" %}</span>
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    <p class="version">v{{ "VERSION"|get_settings_value }}</p>
  </footer>
</body>
</html>
