{% extends "base-probe.html" %}
{% load static %}

{% block scripting %}
  <script type="module" src="{% static 'js/connection-min.js' %}"></script>
{% endblock %}

{% block testtitle %}
{% include "string.html" with name="connection title" %}
{% endblock %}

{% block maincontent %}
{{block.super}}
{% endblock %}

{% block probesnojs %}
<li class="jsless">
  <a href="/" id="continue" class="connforward">
    {% include "string.html" with name="probes no-javascript-connection" %}
  </a>
</li>
{% endblock %}
