{% extends "base.html" %}

{% block maincontent %}

  <section class="intro-section bg-primary ellipse">
    <div class="container">
      <hgroup class="center">
        <h1 class="h5 color-secondary">Service & Contact</h1>
        <p class="h1 color-secondary">Waar kunnen we je mee helpen? Zoek direct naar je antwoord of bekijk onze contactgegevens.</p>
      </hgroup>
    </div>
  </section>

  <section class="faq-section alt">
    <div class="container">
      <h2 class="h3 color-secondary">Veelgestelde vragen</h2>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <a class="secondary-button icon" href="/">Bekijk alle gestelde vragen</a>
    </div>
  </section>

  <section class="faq-sub-section bg-primary">
    <div class="container">
      <h2 class="h2 color-secondary">Kom in contact met ons</h2>
      <ul class="contact-card-list">
        <li class="contact-card-small">
          <hgroup>
            <h4 class="mail icon">Mailen</h4>
            <p>Heeft u een vraag of een klacht? U kunt ons mailen op <a href="mailto:vraag@internet.nl">vraag@internet.nl</a></p>
          </hgroup>
        </li>
        <li class="contact-card-small">
          <hgroup>
            <h4 class="help icon">Technische hulp</h4>
            <p>We helpen u graag verder met technische hulp op onze <a href="https://github.com/internetstandards/Internet.nl" target="_blank">GitHub omgeving</a></p>
          </hgroup>
        </li>
        <li class="contact-card-small">
          <hgroup>
            <h4 class="visit icon">Bezoeken</h4>
            <p>Maanweg 174 (8e verdieping) <br>2516 AB Den Haag</p>
          </hgroup>
        </li>
      </ul>
    </div>
  </section>

{% endblock %}
