{% load static %}
{% load translate %}

{% if testitem %}
  {% with set=testitem|get_testitem_div_class_and_text_status %}
    <details class="accordion">
      <summary class="{{set.0}} icon">
        <span class="visually-hidden">{{set.1}}: </span>
        {% translate testitem.label %}
      </summary>
      <hgroup>
        <h5>{% include "string.html" with name="results verdict label" %}</h5>
        <p>{% include "string.html" with name=testitem.verdict %}</p>
      </hgroup>
      {% if testitem.tech_type and testitem.tech_data %}
      <div>
        <h5>{% include "string.html" with name="results tech-details label" %}</h5>
        {% if testitem.tech_type == 'table' or testitem.tech_type == 'table_multi_col' or testitem.tech_type == 'table_translatable' %}
          {% render_details_table tech_type=testitem.tech_type table_headers=testitem.tech_string table_content=testitem.tech_data %}
        {% endif %}
      </div>
      {% endif %}
      <div>
        <h5>{% include "string.html" with name="results explanation label" %}</h5>
        {% include "content.html" with name=testitem.exp %}
      </div>
    </details>
  {% endwith %}
{% endif %}
