{% extends "base.html" %}
{% load translate %}

{% block maincontent %}
<section class="article-content-section footer-page">
  <div class="container">
    {% if "INTERNETNL_BRANDING"|get_settings_value %}
    {% include "content.html" with name="disclosure content" %}
    {% else %}
    {% include "content.html" with name="disclosure content custom" %}
    {% endif %}
    </div>
</section>

<section class="article-content-section footer-page">
  <div class="container">
  {% if "INTERNETNL_BRANDING"|get_settings_value %}
  {% include "content.html" with name="about contact" %}
  {% else %}
  {% include "content.html" with name="about contact custom" %}
  {% endif %}
  </div>
</section>
{% endblock %}
