{% extends "faqarticle.html" %}

{% block faqarticlecontent %}
    <div class="faq-badges">
      <h1>{% include "string.html" with name="faqs badges title" %}</h1>

      {% include "content.html" with name="faqs badges pre-badge content" %}
      <br/>
      <img src="/static/embed-badge-websitetest.svg" alt="{% include "string.html" with name="halloffame web badge" %}">
      <img src="/static/embed-badge-emailtest.svg" alt="{% include "string.html" with name="halloffame mail badge" %}">
      <br/>
      {% include "content.html" with name="faqs badges post-badge content" %}

    </div>
{% endblock %}
