{% extends "base.html" %}

{% block maincontent %}
  <!-- <article class="block wide">
    <section>
    {% block faqarticlecontent %}
      <h1>{% include "string.html" with name=title %}</h1>
      {% include "content.html" with name=content %}
    {% endblock %}
    </section>
  </article>
  <aside>
    <section class="block news">
      {% include "content.html" with name="faqs content" %}
    </section>
  </aside> -->

  <!-- <section class="intro-section bg-secondary ellipse ellipse-color-dark reverse">
    <div class="container">
      <hgroup class="flipped">
        <h1 class="h1"></h1>
        <p class="h5 color-alt article-category"></p>
      </hgroup>
    </div>
  </section>
  
  <section class="article-content-section">
    <div class="container">
      <h2 class="h3"></h2>
    </div>
  </section>
  
  <section class="card-section">
    <div class="container">
      <h2 class="h2 color-secondary">Gerelateerd nieuws</h2>
      <ul class="card-list">
        <li class="card news-card ellipse">
          <a href="/">
            <hgroup class="flipped">
              <h3>Internet.nl beschikbaar als 'kant-en-klaar' Docker-pakket</h3>
              <p class="card-category">Testen</p>
            </hgroup>
            <div class="secondary-button rounded icon"></div>
          </a>
        </li>
      </ul>
      <a class="secondary-button icon" href="/articles">Lees meer artikelen</a>
    </div>
  </section>
  
  <section class="contact-section ellipse hidden-mobile">
    <div class="container">
      <h2 class="h3 color-secondary">Veelgestelde vragen</h2>
      <details class="faq-item accordion" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <details class="faq-item accordion" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item accordion" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item accordion" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item accordion" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <a class="secondary-button icon" href="/">Bekijk alle gestelde vragen</a>
      <article class="contact-card">
        <hgroup>
          <h3>Contact met ons</h3>
          <p>Heeft u een vraag, opmerking of klacht?<br>Wij helpen u graag.</p>
        </hgroup>
        <ul>
          <li class="contact-card-small">
            <a href="/">
              <hgroup>
                <h4 class="mail icon">Mailen</h4>
                <p>Contact wanneer het u uitkomt</p>
              </hgroup>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li class="contact-card-small">
            <a href="/">
              <hgroup>
                <h4 class="help icon">Technische hulp</h4>
                <p>We helpen u graag verder</p>
              </hgroup>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li class="contact-card-small">
            <a href="/">
              <hgroup>
                <h4 class="visit icon">Bezoeken</h4>
                <p>Het adres van ons kantoor</p>
              </hgroup>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
        </ul>
      </article>
    </div>
  </section> -->
{% endblock %}
