{% extends "base.html" %}

{% block maincontent %}
  <article class="block wide">
    <section>
      <h1>{% include "string.html" with name="faqs title" %}</h1>
      {% include "content.html" with name="faqs content" %}
    </section>
  </article>

  <section class="explanation-section page-variant colored-section bg-2">
    <div class="container">
      <h1 class="section-header-1 color-2">Onze kennisbank</h1>
      <p>Bekijk hier onze kennisbank met allerlei handige informatie en tips.</p>
      <ul class="card-list">
        <li>
          <a class="card explanation-card ellipse-color-light large" href="/">
            <div class="card-content">
              <p class="card-category">Testen</p>
              <h2>Aan de hand van wat wordt er getest op je domeinnamen</h2>
              <p>Vandaag lanceert Internet.nl een nieuwe versie van haar testtool in de vorm van een 'kant-en-klaar' pakket op basis van Docker...</p>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
        <li>
          <a class="card explanation-card ellipse-color-light large" href="/">
            <div class="card-content">
              <p class="card-category">Testen</p>
              <h2>Aan de hand van wat wordt er getest op je domeinnamen</h2>
              <p class="card-text">Vandaag lanceert Internet.nl een nieuwe versie van haar testtool in de vorm van een 'kant-en-klaar' pakket op basis van Docker...</p>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="card-section">
    <div class="container">
      <h2 class="section-header-2 color-2">Categorieën</h2>
      <ul class="card-list">
        <li>
          <a class="card explanation-card ellipse-color-light" href="">
            <div class="card-content">
              <p class="card-category">Testen</p>
              <h3>Internet.nl beschikbaar als 'kant-en-klaar' Docker-pakket</h3>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
        <li>
          <a class="card explanation-card ellipse-color-light" href="">
            <div class="card-content">
              <p class="card-category">Testen</p>
              <h3>Internet.nl beschikbaar als 'kant-en-klaar' Docker-pakket</h3>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
        <li>
          <a class="card explanation-card ellipse-color-light" href="">
            <div class="card-content">
              <p class="card-category">Testen</p>
              <h3>Internet.nl beschikbaar als 'kant-en-klaar' Docker-pakket</h3>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
        <li>
          <a class="card explanation-card ellipse-color-light" href="">
            <div class="card-content">
              <p class="card-category">Testen</p>
              <h3>Internet.nl beschikbaar als 'kant-en-klaar' Docker-pakket</h3>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
        <li>
          <a class="card explanation-card ellipse-color-light" href="">
            <div class="card-content">
              <p class="card-category">Testen</p>
              <h3>Internet.nl beschikbaar als 'kant-en-klaar' Docker-pakket</h3>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
      </ul>
      <button id="load-articles-button" class="secondary-button icon" type="button">Laad meer artikelen</button>
    </div>
  </section>

  <section class="faq-section">
    <div class="container">
      <h2 class="section-header-3">Veelgestelde vragen</h2>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <a class="secondary-button icon" href="/">Bekijk alle gestelde vragen</a>
      <article class="contact-card">
        <h3>Contact met ons</h3>
        <p>Heeft u een vraag, opmerking of klacht?<br>Wij helpen u graag.</p>
        <ul>
          <li>
            <a href="/">
              <div>
                <h4 class="mail icon">Mailen</h4>
                <p>Contact wanneer het u uitkomt</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li>
            <a href="/">
              <div>
                <h4 class="help icon">Technische hulp</h4>
                <p>We helpen u graag verder</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li>
            <a href="/">
              <div>
                <h4 class="visit icon">Bezoeken</h4>
                <p>Het adres van ons kantoor</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
        </ul>
      </article>
      <div class="ellipse-container bottom-left ellipse-color-light hidden-mobile">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
    </div>
  </section>
{% endblock %}
