{% extends "base.html" %}
{%load translate %}

{% block maincontent %}

<section class="intro-section bg-secondary ellipse reverse">
  <div class="container">
    <hgroup class="center">
      <h1 class="h5 color-alt">{% include "string.html" with name="halloffame_intro_title_newstring" %}</h1>
      <p class="h1">{% include "string.html" with name="halloffame_intro_description_newstring" %}</p>
    </hgroup>
  </div>
</section>

<search class="filter-section">
  <div class="container">
    <div class="filter-container">
      <h2 class="h5 color-secondary">{% include "string.html" with name="halloffame_filter_label_newstring" %}</h2>
      <div class="button-container">
        <a class="primary-button" href="/halloffame#kampioenen">{% include "string.html" with name="halloffame_filter_champions_newstring" %}</a>
        <a class="secondary-button" href="#hosters">{% include "string.html" with name="halloffame_filter_hosters_newstring" %}</a>
      </div>
    </div>
  </div>
</search>

<section class="hosters-section" id="hosters">
  <div class="container">
    <hgroup>
      <h2 class="h2 color-secondary">{% include "string.html" with name="halloffame_hosters_title_newstring" %}</h2>
      <p class="body-xl">{% include "string.html" with name="halloffame_hosters_description_newstring" %}</p>
    </hgroup>
    <div class="image-container">
      <img src="/static/images/hosters-badge.png" alt="Uitgelichte hosters badge" width="100" height="128" loading="lazy">
    </div>
    <ul class="hall-of-fame-list">
      <!-- {% for member in halloffame %}
        <li>
          <a href="{{member.permalink}}">{{member.domain|idna}}</a>
        </li>
      {% endfor %} -->
      <li>
        <a href="/">Vimexx</a>
      </li>
      <li>
        <a href="/">Vimexx</a>
      </li>
      <li>
        <a href="/">Vimexx</a>
      </li>
      <li>
        <a href="/">Vimexx</a>
      </li>
      <li>
        <a href="/">Vimexx</a>
      </li>
      <li>
        <a href="/">Vimexx</a>
      </li>
      <li>
        <a href="/">Vimexx</a>
      </li>
    </ul>
  </div>
</section>

<section class="test-sub-section bg-primary">
  <div class="container">
    <h2 class="h3 color-secondary">{% include "string.html" with name="halloffame_what_test_title_newstring" %}</h2>
    <ul class="test-card-list hall-of-fame-variant">
      <li class="test-card-small">
        <a href="/test-connection">
          <div class="card-container icon domain">
            <hgroup>
              <h3>{% include "string.html" with name="base_header_test_website_newstring" %}</h3>
              <p>487 succesvolle testen uitgevoerd deze week!</p>
            </hgroup>
          </div>
          <div class="primary-button rounded icon"></div>
        </a>
      </li>
      <li class="test-card-small">
        <a href="/test-mail">
          <div class="card-container mail icon">
            <hgroup>
              <h3>{% include "string.html" with name="base_header_test_email_newstring" %}</h3>
              <p>537 testen met 100% score deze week!</p>
            </hgroup>
          </div>
          <div class="primary-button rounded icon"></div>
        </a>
      </li>
      <li class="test-card-small">
        <a href="/test-connection">
          <div class="card-container connection icon">
            <hgroup>
              <h3>{% include "string.html" with name="base_header_test_connection_newstring" %}</h3>
              <p>573 testen met 100% score deze week!</p>
            </hgroup>
          </div>
          <div class="primary-button rounded icon"></div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="contact-section ellipse hidden-mobile">
  <div class="container">
    <h2 class="h3 color-secondary">{% include "string.html" with name="faq_title_newstring" %}</h2>
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        What is your return policy?
      </summary>
      <p>We accept returns within 30 days of purchase with a valid receipt.</p>
    </details>
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        What is your return policy?
      </summary>
      <p>We accept returns within 30 days of purchase with a valid receipt.</p>
    </details>      
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        What is your return policy?
      </summary>
      <p>We accept returns within 30 days of purchase with a valid receipt.</p>
    </details>      
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        What is your return policy?
      </summary>
      <p>We accept returns within 30 days of purchase with a valid receipt.</p>
    </details>      
    <details class="faq-item accordion" name="faq-item">
      <summary class="icon">
        What is your return policy?
      </summary>
      <p>We accept returns within 30 days of purchase with a valid receipt.</p>
    </details>
    <a class="secondary-button icon" href="/">{% include "string.html" with name="faq_view_all_button_newstring" %}</a>
    <article class="contact-card">
      <hgroup>
        <h3>{% include "string.html" with name="contact_card_title_newstring" %}</h3>
        <p>{% include "string.html" with name="contact_card_subtitle_newstring" %}</p>
      </hgroup>
      <ul>
        <li class="contact-card-small">
          <a href="/">
            <hgroup>
              <h4 class="mail icon">{% include "string.html" with name="contact_email_title_newstring" %}</h4>
              <p>{% include "string.html" with name="contact_email_description_newstring" %}</p>
            </hgroup>
            <div class="secondary-button rounded icon"></div>
          </a>
        </li>
        <li class="contact-card-small">
          <a href="/">
            <hgroup>
              <h4 class="help icon">{% include "string.html" with name="contact_help_title_newstring" %}</h4>
              <p>{% include "string.html" with name="contact_help_description_newstring" %}</p>
            </hgroup>
            <div class="secondary-button rounded icon"></div>
          </a>
        </li>
        <li class="contact-card-small">
          <a href="/">
            <hgroup>
              <h4 class="visit icon">{% include "string.html" with name="contact_visit_title_newstring" %}</h4>
              <p>{% include "string.html" with name="contact_visit_description_newstring" %}</p>
            </hgroup>
            <div class="secondary-button rounded icon"></div>
          </a>
        </li>
      </ul>
    </article>
  </div>
</section>
{% endblock %}
