{% extends "base.html" %}
{%load translate %}

{% block maincontent %}
<!-- <article class="block fullwidth">
  <div class="intro">
    <div class="flexblocks champions">
      <div class="flexblock">
        <h1>{% include "string.html" with name=hof_title %}</h1>
          <ul class="hall-of-fame menu">
            <li><a href="/halloffame/" {% if cpage == 'champions' %}aria-current="page"{% endif %}>{% include "string.html" with name="halloffame champions menu" %}</a></li>
            <li><a href="/halloffame/web/" {% if cpage == 'web' %}aria-current="page"{% endif %}>{% include "string.html" with name="halloffame web menu" %}</a></li>
            <li><a href="/halloffame/mail/" {% if cpage == 'mail' %}aria-current="page"{% endif %}>{% include "string.html" with name="halloffame mail menu" %}</a></li>
            {% for manual in manuals %}
            <li><a href="/halloffame/{{manual.0}}/" {% if cpage == manual.0 %}aria-current="page"{% endif %}>{% include "string.html" with name=manual.1 %}</a></li>
            {% endfor %}
          </ul>
      </div>
      <div class="flexblock">
      {% if "INTERNETNL_BRANDING"|get_settings_value %}
      {% if cpage == 'champions' %}
        <img src="/static/embed-badge-websitetest.svg" alt="{% include "string.html" with name="halloffame web badge" %}">
        <img src="/static/embed-badge-emailtest.svg" alt="{% include "string.html" with name="halloffame mail badge" %}">
      {% elif cpage == 'web' %}
        <img src="/static/embed-badge-websitetest.svg" alt="{% include "string.html" with name="halloffame web badge" %}">
      {% elif cpage == 'mail' %}
        <img src="/static/embed-badge-emailtest.svg" alt="{% include "string.html" with name="halloffame mail badge" %}">
      {% else %}
        {% if manual_icon and manual_icon_alt %}
        <img src="/static/{{manual_icon}}" alt="{% include "string.html" with name=manual_icon_alt %}">
        {% endif %}
      {% endif %}
      {% endif %}
      </div>
    </div>
    <span class="hof-content">{% include "content.html" with name=hof_text %}</span>
  </div>
  <div class="perfect-scores-list">
    <h2>{% include "string.html" with name=hof_subtitle %}</h2>
    <ul class="list-column column-3">
    {% for member in halloffame %}
      <li><a href="{{member.permalink}}">{{member.domain|idna|truncatechars:36}}</a></li>
    {% endfor %}
    </ul>
  </div>
</article> -->

<section class="intro-section about colored-section bg-2 not-full-width">
  <div class="container">
    <h1>Hall of fame</h1>
    <p class="section-header-1 color-2">Als jouw website of e-mail 100% scoort op Internet.nl, dan wordt je domeinnaam opgenomen in de relevante Hall of Fame</p>
    <div class="ellipse-container bottom-right ellipse-color-3">
      <div class="ellipse"></div>
      <div class="ellipse"></div>
      <div class="ellipse"></div>
    </div>
  </div>
</section>

<search class="hall-of-fame-filter section">
  <div class="container">
    <form action="/">
      <label>Filter op:</label>
      <div class="button-container">
        <button class="primary-button" type="submit">
          Hosters
        </button>
        <button class="secondary-button" type="submit">
          Kampioenen
        </button>
      </div>
    </form>
  </div>
</search>

<section class="hosters-section">
  <div class="container">
    <div class="content">
      <h2>Hosters</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec metus lorem, pulvinar et nulla elementum, interdum posuere mi. Etiam eu arcu ac velit convallis vestibulum sed ac purus. Suspendisse potenti. Aenean tincidunt ante a fringilla porttitor. In sit amet mi tincidunt, pulvinar ipsum molestie, laoreet libero. Cras quis augue eget risus porttitor finibus.</p>
    </div>
    <div class="image-container">
      <img src="/static/images/hosters-badge.png" alt="Uitgelichte hosters badge" width="100" height="128" loading="lazy">
    </div>
  </div>
</section>
{% endblock %}
