{% extends "base.html" %}
{% load translate %}

{% block introcontent %}
  <section class="test-section home-variant colored-section bg-1">
    <div class="container">
      <h1 class="section-header-1 color-1">Bescherm uw website en uw gebruikers door te testen.</h1>
      <article class="test-card-large home-variant">
        <h2 class="domain icon">Test je website domein</h2>
        <form action="/site/" method="POST">
          <label>
            <span>Jouw website-domein</span>
            <input name="url" type="text" placeholder="www.example.nl" inputmode="url" required>
          </label>
          <button class="primary-button icon" type="submit" aria-label="Start de domein test">Start de test</button>
        </form>
        <a class="icon" href="/test-site" aria-label="Meer informatie over de domeintest">Meer informatie over de test</a>
      </article>
      <article class="test-card-small home-variant">
        <a href="/test-mail">
        <div class="card-container mail icon">
          <div class="card-content">
            <h2>Test je e-mail</h2>
            <p>Binnen 30 seconden getest!</p>
          </div>
        </div>
        <div class="primary-button rounded icon"></div>
        </a>
      </article>
      <article class="test-card-small home-variant">
        <a href="/test-connection">
          <div class="card-container connection icon">
            <div class="card-content">
              <h2>Test je verbinding</h2>
              <p>Binnen 30 seconden uitslag!</p>
            </div>
          </div>
          <div class="primary-button rounded icon"></div>
        </a>
      </article>
      <div class="ellipse-container bottom-left ellipse-color-1">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
    </div>
  </section>
{% endblock %}

{% block maincontent %}
  <section class="explanation-section home-variant">
    <div class="container">
      <div class="content">
        <h2 class="section-header-3">Waarom zou je jouw <span class="heading-accent-color">standaarden</span> moeten testen?</h2>
        <p class="section-body-2">De testtool Internet.nl is een initiatief van het Platform Internetstandaarden. Het doel van het platform is om gezamenlijk het gebruik van moderne internetstandaarden verder te vergroten om daarmee het internet voor iedereen toegankelijker, veiliger en betrouwbaarder te maken.</p>
      </div>
      <ul class="explanation-list" id="card-carousel">
        <li class="card home-variant explanation-card ellipse-color-1 icon">
          <h3 id="explanation-dia-1">Beveiligingslekken en kwetsbaarheid opzoeken</h3>
          <p>Dit helpt bij het voorkomen van cyberaanvallen, hacking, en datalekken. </p>
          <div class="ellipse singular"></div>
        </li>
        <li class="card home-variant explanation-card ellipse-color-1 icon">
          <h3 id="explanation-dia-2">Garanderen van compatibiliteit</h3>
          <p>Testen zorgt ervoor dat gebruikers een toegankelijke, consistente en optimale ervaring hebben.</p>
          <div class="ellipse singular"></div>
        </li>
        <li class="card home-variant explanation-card ellipse-color-1 icon">
          <h3 id="explanation-dia-3">Identificeren van prestatie problemen</h3>
          <p>Testen helpt bij het identificeren van prestatieproblemen zoals trage laadtijden en serverfouten.</p>
          <div class="ellipse singular"></div>
        </li>
      </ul>
      <ul class="dots" aria-label="Scrollbare carousel navigatie" aria-controls="card-carousel">
        <li class="dot active"><button type="button"></button></li>
        <li class="dot"><button type="button"></button></li>
        <li class="dot"><button type="button"></button></li>
      </ul>
      <div class="button-container">
        <a class="secondary-button icon" href="/test-site">Ik wil graag testen</a>
        <p>487 succesvolle testen!</p>
      </div>
    </div>
  </section>

  <section class="hall-of-fame-section home-variant not-full-width colored-section bg-1">
    <div class="container">
      <div class="content">
        <h2 class="section-header-7">Hall of Fame</h2>
        <p class="section-header-6">Onderstaande hosters zijn opgenomen in de Hall of Fame, 
          omdat ze voldoen aan de criteria voor opname zoals een 
          dubbele <span class="heading-accent-color">100%-score</span> voor hun eigen domein.
        </p>
      </div>
      <ul class="hall-of-fame-list">
        <!-- {% for member in halloffame %}
          <li>
            <a href="{{member.permalink}}">{{member.domain|idna}}</a>
          </li>
        {% endfor %} -->
        <li>
          <a href="/">Vimexx</a>
        </li>
        <li>
          <a href="/">Vimexx</a>
        </li>
        <li>
          <a href="/">Vimexx</a>
        </li>
        <li>
          <a href="/">Vimexx</a>
        </li>
        <li>
          <a href="/">Vimexx</a>
        </li>
        <li>
          <a href="/">Vimexx</a>
        </li>
        <li>
          <a href="/">Vimexx</a>
        </li>
      </ul>
      <div class="button-container">
        <a class="primary-button icon" href="/test-site">Ik wil mijn domein testen</a>
        <a class="secondary-button icon" href="/halloffame">Ontdek de Hall of Fame</a>
      </div>
      <div class="ellipse-container bottom-right ellipse-color-1 hidden-mobile">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
    </div>
  </section>
  
  <section class="about-section home-variant">
    <div class="container">
      <h2 class="section-header-7">Onze missie</h2>
      <p class="section-header-4 color-2">Het doel van het platform is om het gebruik van moderne internetstandaarden verder te vergroten en voor iedereen toegankelijker, veiliger en betrouwbaarder te maken.</p>
      <p class="section-body-1 color-2">De testtool Internet.nl is een initiatief van het Platform Internetstandaarden. Het is een samenwerkingsverband van de Internetgemeenschap en de Nederlandse overheid. Momenteel nemen de volgende partijen deel in het platform:</p>
      <ul class="logo-list">
        <li>
          <a href="https://surf.nl/" target="_blank" aria-label="Ga naar de website van Surf">
            <img class="light-visible" src="/static/images/surf.png" alt="Surf logo" loading="lazy" width="100" height="52">
            <img class="dark-visible" src="/static/images/surf-wit.png" alt="Surf logo" loading="lazy" width="100" height="52">
          </a>
        </li>
        <li>
          <a href="https://ncsc.nl" target="_blank" aria-label="Ga naar de website van NCSC">
            <img class="light-visible" src="/static/images/ncsc.png" alt="NCSC logo" loading="lazy" width="224" height="90">
            <img class="dark-visible" src="/static/images/ncsc-wit.png" alt="NCSC logo" loading="lazy" width="224" height="90">
          </a>
        </li>
        <li>
          <a href="https://nlnet.nl/" target="_blank" aria-label="Ga naar de website van NLnet">
            <img class="light-visible" src="/static/images/nlnet.png" alt="NLnet logo" loading="lazy" width="146" height="55">
            <img class="dark-visible" src="/static/images/nlnet-wit.png" alt="NLnet logo" loading="lazy" width="146" height="55">
          </a>
        </li>
        <li>
          <a href="https://ripe.net/" target="_blank" aria-label="Ga naar de website van Ripe NCC">
            <img class="light-visible" src="/static/images/ncc.png" alt="Ripe NCC logo" loading="lazy" width="180" height="32">
            <img class="dark-visible" src="/static/images/ncc-wit.png" alt="Ripe NCC logo" loading="lazy" width="180" height="32">
          </a>
        </li>
        <li>
          <a href="https://verenigingvanregistrars.nl/" target="_blank" aria-label="Ga naar de website van VVR">
            <img class="light-visible" src="/static/images/vvr.png" alt="VVR logo" loading="lazy" width="200" height="46">
            <img class="dark-visible" src="/static/images/vvr-wit.png" alt="VVR logo" loading="lazy" width="200" height="46">
          </a>
        </li>
      </ul>
      <a class="icon" href="/about">Ik wil meer informatie over deze organisaties</a>
    </div>
  </section>

  <section class="card-section home-variant">
    <div class="container">
      <h2 class="section-header-2 color-1">Laatste nieuws</h2>
      <ul class="card-list">
        {% for article in articles|slice:":3" %}
          {% expand "article {{article}} title" as articletitle %}
          {% expand "article {{article}} date" as articledate %}
          {% expand "article {{article}} lead" as articlelead %}
        <li>
          <a class="card news-card ellipse-color-4" href="/article/{{article}}">
            <div class="card-content">
              <p class="card-date">{% include "string.html" with name=articledate %}</p>
              <h3>{% include "string.html" with name=articletitle %}</h3>
            </div>
            <div class="secondary-button rounded icon"></div>
            <div class="ellipse singular"></div>
          </a>
        </li>
        {% endfor %}
      </ul>
      <a class="secondary-button icon" href="/articles">Lees meer artikelen</a>
    </div>
  </section>

  <section class="faq-section home-variant">
    <div class="container">
      <h2 class="section-header-3">Veelgestelde vragen</h2>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>      
      <details class="faq-item" name="faq-item">
        <summary class="icon">
          What is your return policy?
        </summary>
        <p>We accept returns within 30 days of purchase with a valid receipt.</p>
      </details>
      <a class="secondary-button icon" href="/">Bekijk alle gestelde vragen</a>
      <article class="contact-card">
        <h3>Contact met ons</h3>
        <p>Heeft u een vraag, opmerking of klacht?<br>Wij helpen u graag.</p>
        <ul>
          <li>
            <a href="/">
              <div>
                <h4 class="mail icon">Mailen</h4>
                <p>Contact wanneer het u uitkomt</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li>
            <a href="/">
              <div>
                <h4 class="help icon">Technische hulp</h4>
                <p>We helpen u graag verder</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
          <li>
            <a href="/">
              <div>
                <h4 class="visit icon">Bezoeken</h4>
                <p>Het adres van ons kantoor</p>
              </div>
              <div class="secondary-button rounded icon"></div>
            </a>
          </li>
        </ul>
      </article>
      <div class="ellipse-container bottom-left ellipse-color-1 hidden-mobile">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
    </div>
  </section>

      <!-- <section class="block news">
        <h2>{% include "string.html" with name="base news" %}</h2>
        <ul>
        {% for article in articles %}
          {% expand "article {{article}} title" as articletitle %}
          {% expand "article {{article}} date" as articledate %}
          {% expand "article {{article}} lead" as articlelead %}
          <li><a href="/article/{{article}}">{% include "string.html" with name=articletitle %}</a></li>
        {% endfor %}
        </ul>
        <p class="read-more"><a href="/articles/">{% include "string.html" with name="base newslink" %}</a></p>
      </section>
      <section class="block hall-of-fame">
        <h2>{% include "string.html" with name="base halloffame" %}</h2>
        <p>
          {% include "string.html" with name="base halloffame lead" %}
        </p>
        <ol>
        {% for member in halloffame %}
          <li><a href="{{member.permalink}}">{{member.domain|idna}}</a></li>
        {% endfor %}
        </ol>
        <p class="read-more"><a href="/halloffame/">{% include "string.html" with name="base halloffame link" %}</a></p>
      </section>
      <section class="block dark stats">
        <h2>{% include "string.html" with name="home stats header" %}</h2>
        <h3>{{statswebsite}} {% include "string.html" with name="home stats website" %}</h3>
        <ol>
          <li class="passed">
            <span class="visuallyhidden">{% include "string.html" with name="results no-icon-status passed" %}</span>
            {% include "string.html" with name="home stats passed" %}
            <span>{{statswebsitegood}} {% include "string.html" with name="home stats website-items" %}</span>
          </li>
          <li class="notpassed">
            <span class="visuallyhidden">{% include "string.html" with name="results no-icon-status failed" %}</span>
            {% include "string.html" with name="home stats notpassed" %}
            <span>{{statswebsitebad}} {% include "string.html" with name="home stats website-items" %}</span>
          </li>
        </ol>
        <h3>{{statsmail}} {% include "string.html" with name="home stats mail" %}</h3>
        <ol>
          <li class="passed">
            <span class="visuallyhidden">{% include "string.html" with name="results no-icon-status passed" %}</span>
            {% include "string.html" with name="home stats passed" %}
            <span>{{statsmailgood}} {% include "string.html" with name="home stats mail-items" %}</span>
          </li>
          <li class="notpassed">
            <span class="visuallyhidden">{% include "string.html" with name="results no-icon-status failed" %}</span>
            {% include "string.html" with name="home stats notpassed" %}
            <span>{{statsmailbad}} {% include "string.html" with name="home stats mail-items" %}</span>
          </li>
        </ol>
        <h3>{{statsconnection}} {% include "string.html" with name="home stats connection" %}</h3>
        <ol>
          <li class="passed">
            <span class="visuallyhidden">{% include "string.html" with name="results no-icon-status passed" %}</span>
            {% include "string.html" with name="home stats passed" %}
            <span>{{statsconnectiongood}} {% include "string.html" with name="home stats connection-items" %}</span>
          </li>
          <li class="notpassed">
            <span class="visuallyhidden">{% include "string.html" with name="results no-icon-status failed" %}</span>
            {% include "string.html" with name="home stats notpassed" %}
            <span>{{statsconnectionbad}} {% include "string.html" with name="home stats connection-items" %}</span>
          </li>
        </ol>
      </section> -->
{% endblock %}
