{% extends "faqarticle.html" %}

{% block faqarticlecontent %}
    <!-- </article> -->
    <!-- <div class="title-and-explanation">
      <h1>{% include "string.html" with name="base test website title" %}</h1>
      {% include "content.html" with name="base test website explain" %}
    </div>
    <form action="/site/" method="POST">
      <label class="text-input" for="web-url">{% include "string.html" with name="base test website input" %}
        <input id="web-url" type="text" inputmode="url" name="url" placeholder="www.example.nl" autocorrect="off" autocapitalize="none" spellcheck="false">
      </label>
      {% if request.GET.invalid != None %}
      <div class="invalid-domain">
        {% include "string.html" with name="base test prechecks invalid domain" %}
      </div>
      {% endif %}
      <div class="contains-button">
        <button>{% include "string.html" with name="base test start" %}</button>
      </div>
    </form> -->


  <section class="test-section bg-primary ellipse">
    <div class="container">
      <h1 class="h1 color-secondary">Bescherm uw website door te testen.</h1>
      <article class="test-card-large domain-variant">
        <h2 class="domain icon">Test je website domein</h2>
        <form action="/site/" method="POST">
          <label>
            <span>Jouw website-domein</span>
            <input name="url" type="text" placeholder="www.example.nl" inputmode="url" required>
          </label>
          <button class="primary-button icon" type="submit" aria-label="Start de domeintest">Start de test</button>
        </form>
        <ul>
          <li>
            <div class="icon"></div>
            <span>USP 1 staat hier</span>
          </li>
          <li>
            <div class="icon"></div>
            <span>USP 1 staat hier</span>
          </li>
          <li>
            <div class="icon"></div>
            <span>USP 1 staat hier</span>
          </li>
        </ul>
      </article>
    </div>
  </section>

  <section class="test-sub-section bg-primary">
    <div class="container">
      <h2 class="h3 color-secondary">Wat wil je nog meer testen?</h2>
      <ul class="test-card-list">
        <li class="test-card-small">
          <a href="/test-mail">
            <div class="card-container mail icon">
              <hgroup>
                <h3>Test je e-mail</h3>
                <p>537 testen met 100% score deze week!</p>
              </hgroup>
            </div>
            <div class="primary-button rounded icon"></div>
          </a>
        </li>
        <li class="test-card-small">
          <a href="/test-connection">
            <div class="card-container connection icon">
              <hgroup>
                <h3>Test je verbinding</h3>
                <p>573 testen met 100% score deze week!</p>
              </hgroup>
            </div>
            <div class="primary-button rounded icon"></div>
          </a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
