{% extends "faqarticle.html" %}

{% block faqarticlecontent %}
    <!-- <div class="title-and-explanation">
      <h1>{% include "string.html" with name="base test mail title" %}</h1>
      {% include "content.html" with name="base test mail explain" %}
    </div>
    <form action="/mail/" method="POST">
      <label class="text-input" for="mail-url">{% include "string.html" with name="base test mail input" %}
        <span class="emailfield before">
          <input id="mail-url" class="email" type="text" inputmode="url" name="url" placeholder="example.nl" autocorrect="off" autocapitalize="none" spellcheck="false">
        </span>
      </label>
      {% if request.GET.invalid != None %}
      <div class="invalid-domain">
        {% include "string.html" with name="base test prechecks invalid domain" %}
      </div>
      {% endif %}
      <div class="contains-button">
        <button>{% include "string.html" with name="base test start" %}</button>
      </div>
    </form> -->
  <!-- </article> -->

  <section class="test-section bg-primary ellipse">
    <div class="container">
      <h1 class="h1 color-secondary">{% include "string.html" with name="test_email_protect_intro_newstring" %}</h1>
      <article class="test-card-large mail-variant">
        <h2 class="mail icon">{% include "string.html" with name="test_email_title_newstring" %}</h2>
        <form action="/mail/" method="POST">
          <label class="mail-label">
            <span>{% include "string.html" with name="test_email_domain_label_newstring" %}</span>
            <div class="mail-input-container">
              <div class="mail-icon-container icon"></div>
              <input class="mail-input" name="url" type="text" placeholder="bikkelhart.com" inputmode="url" required>
            </div>
          </label>
          <button class="primary-button icon" type="submit" aria-label="{% include "string.html" with name="test_start_button_newstring" %}">{% include "string.html" with name="test_start_button_newstring" %}</button>
        </form>
        <ul>
          <li>
            <div class="icon"></div>
            <span>{% include "string.html" with name="test_usp_placeholder_newstring" %}</span>
          </li>
          <li>
            <div class="icon"></div>
            <span>{% include "string.html" with name="test_usp_placeholder_newstring" %}</span>
          </li>
          <li>
            <div class="icon"></div>
            <span>{% include "string.html" with name="test_usp_placeholder_newstring" %}</span>
          </li>
        </ul>
      </article>
    </div>
  </section>

  <section class="test-sub-section bg-primary">
    <div class="container">
      <h2 class="h3 color-secondary">{% include "string.html" with name="test_more_tests_title_newstring" %}</h2>
      <ul class="test-card-list">
        <li class="test-card-small">
          <a href="/test-site">
            <div class="card-container domain icon">
              <hgroup>
                <h3>{% include "string.html" with name="test_website_domain_title_newstring" %}</h3>
                <p>{% include "string.html" with name="test_website_stats_newstring" %}</p>
              </hgroup>
            </div>
            <div class="primary-button rounded icon"></div>
          </a>
        </li>
        <li class="test-card-small">
          <a href="/test-connection">
            <div class="card-container connection icon">
              <hgroup>
                <h3>{% include "string.html" with name="test_connection_title_newstring" %}</h3>
                <p>{% include "string.html" with name="test_connection_stats_newstring" %}</p>
              </hgroup>
            </div>
            <div class="primary-button rounded icon"></div>
          </a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
