{% extends "faqarticle.html" %}

{% block faqarticlecontent %}
    <!-- <div class="title-and-explanation">
      <h1>{% include "string.html" with name="base test connection title" %}</h1>
      {% include "content.html" with name="base test connection explain" %}
    </div>
    <form action="/connection/" method="POST" id="form-connection-test">
      <div class="contains-button">
        <button>{% include "string.html" with name="base test start" %}</button>
      </div>
    </form> -->
    </article>

  <section class="test-section page-variant colored-section bg-1">
    <div class="container">
      <h1 class="section-header-1 color-1">Bescherm uw verbinding door te testen.</h1>
      <article class="test-card-large connection-variant">
        <h2 class="connection icon">Test je verbinding</h2>
        <div class="button-container">
          <form action="/connection/" method="POST" id="form-connection-test">
            <button class="primary-button icon connection-button" type="submit" aria-label="Start de verbindingstest">Start de test</button>
          </form>
          <a class="secondary-button icon" href="/test-connection" aria-label="Meer informatie over de verbindingstest">Meer informatie over de test</a>
        </div>
      </article>
      <div class="ellipse-container bottom-left ellipse-color-light">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
    </div>
  </section>

  <section class="test-section page-variant secondary colored-section not-full-width bg-1">
    <div class="container">
      <h2 class="section-header-3 color-1">Wat wil je nog meer testen?</h2>
      <article class="test-card-small">
        <a href="/test-connection">
          <div class="card-container icon domain">
            <div class="card-content">
              <h3>Test je website domein</h3>
              <p>487 succesvolle testen uitgevoerd deze week!</p>
            </div>
          </div>
          <div class="primary-button rounded icon"></div>
        </a>
      </article>
      <article class="test-card-small">
        <a href="/test-mail" aria-label="Test je e-mail">
          <div class="card-container icon mail">
            <div class="card-content">
              <h3>Test je e-mail</h3>
              <p>537 testen met 100% score deze week!</p>
            </div>
          </div>
          <div class="primary-button rounded icon"></div>
        </a>
      </article>
    </div>
  </section>
{% endblock %}
