{% extends "base.html" %}

{% block maincontent %}

  <section class="test-section bg-primary ellipse">
    <div class="container">
      <h1 class="h1 color-secondary">{% include "string.html" with name="home teaser" %}</h1>
      <article class="test-card-large mail-variant">
        <h2 class="mail icon">{% include "string.html" with name="base test mail label" %}</h2>
        <form action="/mail/" method="POST">
          <label class="mail-label">
            <span>{% include "string.html" with name="base test mail input" %}</span>
            <div class="mail-input-container">
              <div class="mail-icon-container icon"></div>
              <input class="mail-input" name="url" type="text" placeholder="example.nl" inputmode="url" autocomplete="url" required>
            </div>
          </label>
          {% if request.GET.invalid != None %}
          <p class="invalid-domain">
            {% include "string.html" with name="base test prechecks invalid domain" %}
          </p>
          {% endif %}
          <button class="primary-button icon" type="submit">{% include "string.html" with name="base test start" %}</button>
        </form>
        <ul>
          <li>
            <div class="icon"></div>
            <span>{% include "string.html" with name="base test mail usp1" %}</span>
          </li>
          <li>
            <div class="icon"></div>
            <span>{% include "string.html" with name="base test mail usp2" %}</span>
          </li>
          <li>
            <div class="icon"></div>
            <span>{% include "string.html" with name="base test mail usp3" %}</span>
          </li>
        </ul>
      </article>
    </div>
  </section>

  <section class="test-sub-section bg-primary">
    <div class="container">
      <h2 class="h3 color-secondary">{% include "string.html" with name="base test more" %}</h2>
      <ul class="test-card-list">
        <li class="test-card-small">
          <a href="/test-site">
            <div class="card-container domain icon">
              <hgroup>
                <h3>{% include "string.html" with name="base test website label" %}</h3>
                <p>{% include "string.html" with name="base test website sublabel" %}</p>
              </hgroup>
            </div>
            <div class="primary-button rounded icon"></div>
          </a>
        </li>
        <li class="test-card-small">
          <a href="/test-connection">
            <div class="card-container connection icon">
              <hgroup>
                <h3>{% include "string.html" with name="base test connection label" %}</h3>
                <p>{% include "string.html" with name="base test connection sublabel" %}</p>
              </hgroup>
            </div>
            <div class="primary-button rounded icon"></div>
          </a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
