{% extends "faqarticle.html" %}

{% block faqarticlecontent %}
    <!-- <div class="title-and-explanation">
      <h1>{% include "string.html" with name="base test mail title" %}</h1>
      {% include "content.html" with name="base test mail explain" %}
    </div>
    <form action="/mail/" method="POST">
      <label class="text-input" for="mail-url">{% include "string.html" with name="base test mail input" %}
        <span class="emailfield before">
          <input id="mail-url" class="email" type="text" inputmode="url" name="url" placeholder="example.nl" autocorrect="off" autocapitalize="none" spellcheck="false">
        </span>
      </label>
      {% if request.GET.invalid != None %}
      <div class="invalid-domain">
        {% include "string.html" with name="base test prechecks invalid domain" %}
      </div>
      {% endif %}
      <div class="contains-button">
        <button>{% include "string.html" with name="base test start" %}</button>
      </div>
    </form> -->
  <!-- </article> -->

  <section class="test-section bg-primary ellipse">
    <div class="container">
      <h1 class="h1 color-secondary">Bescherm uw e-mail door te testen.</h1>
      <article class="test-card-large mail-variant">
        <h2 class="mail icon">Test je e-mail</h2>
        <form action="/mail/" method="POST">
          <label class="mail-label">
            <span>Jouw e-mail-domein</span>
            <div class="mail-input-container">
              <div class="mail-icon-container icon"></div>
              <input class="mail-input" name="url" type="text" placeholder="bikkelhart.com" inputmode="url" required>
            </div>
          </label>
          <button class="primary-button icon" type="submit" aria-label="Start de emailtest">Start de test</button>
        </form>
        <ul>
          <li>
            <div class="icon"></div>
            <span>USP 1 staat hier</span>
          </li>
          <li>
            <div class="icon"></div>
            <span>USP 1 staat hier</span>
          </li>
          <li>
            <div class="icon"></div>
            <span>USP 1 staat hier</span>
          </li>
        </ul>
      </article>
    </div>
  </section>

  <section class="test-section secondary bg-primary">
    <div class="container">
      <h2 class="h3 color-secondary">Wat wil je nog meer testen?</h2>
      <article class="test-card-small">
        <a href="/test-site">
          <div class="card-container domain icon">
            <hgroup>
              <h3>Test je website domein</h3>
              <p>487 succesvolle testen uitgevoerd deze week!</p>
            </hgroup>
          </div>
          <div class="primary-button rounded icon"></div>
        </a>
      </article>
      <article class="test-card-small">
        <a href="/test-connection">
          <div class="card-container connection icon">
            <hgroup>
              <h3>Test je verbinding</h3>
              <p>573 testen met 100% score deze week!</p>
            </hgroup>
          </div>
          <div class="primary-button rounded icon"></div>
        </a>
      </article>
    </div>
  </section>
{% endblock %}
