# Workers need to be restarted because of the redis connection leak, see
# https://github.com/celery/celery/issues/6819#issuecomment-1065182101

# Peak internet.nl usage is 6000 scans per day. The server has issues from over 10000 scans.
# This means we should be good to go to restart every day at midnight. For other installations this might
# differ. Therefore this resets just a bit more. The only issue is basically running out of ram, as file descriptors
# and max clients for redis can be huge. To be safe, lets do this every 6 hours.
0 */6 * * * for i in $(ls -1 /etc/systemd/system/internetnl-single*.service); do systemctl restart `basename $i`; done
0 3 * * * service internetnl-gunicorn restart
