services:
  # terminate tls so we don't need to have exceptions in the nginx config file for development
  port-expose:
    image: nginx:1.27.3-alpine
    networks:
      - public-internet
      - internal

    restart: unless-stopped

    ports:
      - 8080:8080

    volumes:
      - ./port-expose/nginx_templates/:/etc/nginx/templates/

    environment:
      - INTERNETNL_DOMAINNAME
      - IPV4_IP_WEBSERVER_INTERNAL
      - IPV4_IP_RABBITMQ_INTERNAL

  app:

    develop:
      watch:
        # auto rebuild/reload when CSS/JS changes
        - path: ../frontend/
          action: sync+exec
          target: /app/frontend
          exec:
            command: /bin/sh -c "python3 bin/frontend.py js;python3 bin/frontend.py css;"
    # use Django runserver for better debug abilities during development
    entrypoint: ["/bin/bash"]
    # run CSS auto rebuild in the background and start devserver
    command:
      - "-c"
      - >
        if [ "$INTERNETNL_AUTORELOAD" = "True" ]; then
          ./manage.py runserver 0.0.0.0:8080
        else
          ./manage.py runserver 0.0.0.0:8080 --noreload
        fi;
    environment:
      - INTERNETNL_AUTORELOAD
    volumes:
      - batch_results:/app/batch_results
      # mount sources using volumes for quicker dev cycles
      - ../checks:/app/checks
      - ../interface:/app/interface
      - ../internetnl:/app/internetnl

  worker:
    volumes:
      - batch_results:/app/batch_results
      # mount sources using volumes for quicker dev cycles
      - ../checks:/app/checks
      - ../interface:/app/interface
      - ../internetnl:/app/internetnl

  beat:
    volumes:
      # mount sources using volumes for quicker dev cycles
      - ../checks:/app/checks
      - ../interface:/app/interface
      - ../internetnl:/app/internetnl
