services:
  # terminate tls so we don't need to have exceptions in the nginx config file for development
  port-expose:
    image: nginx:1.29.1-alpine3.22
    networks:
      - public-internet
      - internal

    restart: unless-stopped

    ports:
      - 8080:8080

    volumes:
      - ./port-expose/nginx_templates/:/etc/nginx/templates/

    environment:
      - INTERNETNL_DOMAINNAME

  webserver:
    build:
      context: ..
      dockerfile: docker/webserver.Dockerfile
    develop:
      watch:
        # auto rebuild/reload when config files change
        - path: ./webserver/
          action: rebuild

  app:
    develop:
      watch:
        # auto rebuild/reload when CSS/JS changes
        - path: ../frontend/
          action: sync+exec
          target: /app/frontend
          exec:
            command: /bin/sh -c "python3 bin/frontend.py js;python3 bin/frontend.py css;"
    # use Django runserver for better debug abilities during development
    entrypoint: ["/bin/bash"]
    # run CSS auto rebuild in the background and start devserver
    command:
      - "-c"
      - >
        if [ "$INTERNETNL_AUTORELOAD" = "True" ]; then
          ./manage.py runserver 0.0.0.0:8080
        else
          ./manage.py runserver 0.0.0.0:8080 --noreload
        fi;
    environment:
      - INTERNETNL_AUTORELOAD
    volumes:
      - batch_results:/app/batch_results
      # mount sources using volumes for quicker dev cycles
      - ../checks:/app/checks
      - ../interface:/app/interface
      - ../internetnl:/app/internetnl

  worker:
    volumes:
      - batch_results:/app/batch_results
      # mount sources using volumes for quicker dev cycles
      - ../checks:/app/checks
      - ../interface:/app/interface
      - ../internetnl:/app/internetnl

  beat:
    volumes:
      # mount sources using volumes for quicker dev cycles
      - ../checks:/app/checks
      - ../interface:/app/interface
      - ../internetnl:/app/internetnl

networks:
  public-internet:
    driver_opts:
      # development environments break connectivity when outgoing IP is set to the internal public IP
      com.docker.network.host_ipv4: !reset null
      com.docker.network.host_ipv6: !reset null
