{% extends "base.html" %}
{% load static %}
{% load translate %}

{% block scripting %}
  <script type="text/javascript" src="{% static 'js/internetnl.probe-min.js' %}"></script>
{% endblock %}

{% block maincontent %}
  <div class="hidethis" aria-hidden="true">
    <span id="javascript-retries">{{javascript_retries}}</span>
    <span id="javascript-timeout">{{javascript_timeout}}</span>
    <span id="probe-error-summary">{% include "string.html" with name="test error summary" %}</span>
    <span id="probe-finished">{% include "string.html" with name="probes test-finished" %}</span>
    <span id="probes-no-redirection">{% include "string.html" with name="probes no-redirection" %}</span>
    <span id="probes-url">{{probes.0.probesurl}}{{addr}}/</span>
    <div id="probes">
    {% for probe in probes %}
      <div>
        <span class="probe-name">{{probe.name}}</span>
      </div>
    {% endfor %}
    </div>
  </div>

  <article class="block fullwidth center">
    <div class="wrap">
      <h1>
        {% block testtitle %}
        {% endblock %}
      </h1>
      <p>
        {% include "string.html" with name="probes tests-duration" cache_ttl="CACHE_TTL"|get_settings_value %}
        <span class="probing-text hidethis" aria-hidden="true">
          {% include "string.html" with name="probes auto-redirect" %}
        </span>
        {% include "string.html" with name="probes tests-description" %}
      </p>
      <ul>
        {% for probe in probes %}
        <li class="probing">
          <strong>{% translate probe.title %}</strong>
          <br/>
          <img id="{{probe.name}}-icon" src="/static/probe-animation.gif" width="20" height="20" alt=""/>
          <span id="{{probe.name}}-summary" aria-live="polite" aria-busy="true">{% include "string.html" with name="probes test-running" %}</span>
        </li>
        {% endfor %}
        {% block probesnojs %}
        <li class="jsless">
          <a href={{no_javascript_redirect}} id="continue" class="connforward">
            {% include "string.html" with name="probes no-javascript" %}
          </a>
        </li>
        {% endblock %}
      </ul>
    </div>
  </article>
{% endblock %}
