{% extends "faqarticle.html" %}

{% block faqarticlecontent %}
    <div class="faq-report">
      <h1>{% include "string.html" with name="faqs report title" %}</h1>

      <h2>{% include "string.html" with name="faqs report score title" %}</h2>
      {% include "content.html" with name="faqs report score content" %}

      <h2>{% include "string.html" with name="faqs report test title" %}</h2>
      <div class="faq-test passed">
        <span class="visuallyhidden">
          {% include "string.html" with name="results no-icon-status passed" %}:
        </span>
        {% include "string.html" with name="faqs report test good" %}
      </div>
      <div class="faq-test failed">
        <span class="visuallyhidden">
          {% include "string.html" with name="results no-icon-status failed" %}:
        </span>
        {% include "string.html" with name="faqs report test bad" %}
      </div>
      <div class="faq-test warning">
        <span class="visuallyhidden">
          {% include "string.html" with name="results no-icon-status warning" %}:
        </span>
        {% include "string.html" with name="faqs report test warning" %}
      </div>
      <div class="faq-test info">
        <span class="visuallyhidden">
          {% include "string.html" with name="results no-icon-status info" %}:
        </span>
        {% include "string.html" with name="faqs report test info" %}
      </div>
      <div class="faq-test error">
        <span class="visuallyhidden">
          {% include "string.html" with name="results no-icon-status error" %}:
        </span>
        {% include "string.html" with name="faqs report test error" %}
      </div>

      <h2>{% include "string.html" with name="faqs report subtest title" %}</h2>
      <div class="faq-subtest passed">
          <span class="visuallyhidden">
            {% include "string.html" with name="results no-icon-status passed" %}:
          </span>
        {% include "string.html" with name="faqs report subtest good" %}
      </div>
      <div class="faq-subtest failed">
          <span class="visuallyhidden">
            {% include "string.html" with name="results no-icon-status failed" %}:
          </span>
        {% include "string.html" with name="faqs report subtest bad" %}
      </div>
      <div class="faq-subtest warning">
          <span class="visuallyhidden">
            {% include "string.html" with name="results no-icon-status warning" %}:
          </span>
        {% include "string.html" with name="faqs report subtest warning" %}
      </div>
      <div class="faq-subtest info">
          <span class="visuallyhidden">
            {% include "string.html" with name="results no-icon-status info" %}:
          </span>
        {% include "string.html" with name="faqs report subtest info" %}
      </div>
      <div class="faq-subtest not-tested">
          <span class="visuallyhidden">
            {% include "string.html" with name="results no-icon-status not-tested" %}:
          </span>
        {% include "string.html" with name="faqs report subtest not-tested" %}
      </div>

    </div>
{% endblock %}
