/* MARK: BUTTONS
*/
.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  justify-content: center;
  font: var(--section-button-m);
  transition: border 0.3s, background-color 0.3s;
  width: 100%;

  @media (width >= 56.25rem) {
    width: auto;
  }

  &:not(#load-more)::after {
    mask-image: url("/static/icons/arrow-right.svg");
    display: block;
  }

  &.rounded {
    border-radius: 100%;
    padding: 0.375rem;
    border: none;
    width: fit-content;

    &.secondary-button {
      background: var(--white-100);
      color: var(--green-500);
    }
  }
}

.primary-button {
  background: var(--button-bg-color-primary);
  color: var(--button-text-color-primary);

  &:not(.rounded):hover {
    background: var(--button-bg-color-hover-primary);
  }
}

.secondary-button:not(.rounded) {
  color: var(--button-text-color-secondary);
  border: 2px solid currentcolor;

  &:hover {
    border: 2px solid var(--button-bg-color-hover-secondary);
  }
}

#load-more::after {
  display: block;
  mask-image: url("/static/icons/plus.svg");
}

#load-more.hidden {
  display: none;
}

#load-more {
  @media (scripting: none) {
    display: none;
  }
}

.button-container {
  display: grid;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  @media (width >= 56.25rem) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: fit-content;
  }

  .primary-button, 
  .secondary-button {
    height: 100%;
  }
}

/* MARK: GENERAL SECTIONS
*/

.intro-section {
  .container {
    padding-block: 4rem;

    @media (width >= 56.25rem) {
      padding-block: 4.875rem;
    }
  }

  hgroup {
    gap: 1.5rem;

    @media (width >= 56.25rem) {
      gap: 2.25rem;
      grid-column: 2 / 12;
    }

    .article-category {
      padding: 0.5rem 1rem;
      background-color: var(--white-100);
      border-radius: 0.5rem;
    }
  }
}

.article-index-section {
  margin-bottom: 4rem;

  .container {
    padding-top: 3rem;

    @media (width >= 56.25rem) {
      padding-top: 3rem;
    }
  }

  hgroup {
    gap: 1rem;

    @media (width >= 56.25rem) {
      gap: 1.5rem;
    }
  }
}

.article-content-section {
  .container {
    row-gap: 1.5rem;
    border-bottom: 0.0313rem solid var(--green-400);
    padding-bottom: 1.25rem;

    @media (width >= 56.25rem) {
      padding-bottom: 2.5rem;
    }

    > * {
      @media (width >= 56.25rem) {
        grid-column: 2 / 12;
      }
    }
  }

  h2:not(:first-of-type) {
    font: var(--section-header-s);
  }

  p {
    font: var(--section-body-xl);
  }

  a {
    display: inline;
    color: var(--body-link-color);

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    background: var(--bg-color-primary);
    padding: 0.25rem;
    border-radius: 0.25rem;
  }

  ul, ol {
    list-style: initial;
    list-style-position: inside;
  }

  li {
    font: var(--section-body-xl);
    color: var(--body-color-primary);
    padding-block: 0.375rem;
    font-weight: 500;
  }

  &.footer-page .container {
    padding-block: 1.25rem;

    @media (width >= 56.25rem) {
      padding-block: 2.5rem;
    }

    > * {
      grid-column: span 12;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
    }
  }
}

/* MARK: CARDS
*/

.card-section {
  .container {
    row-gap: 1.5rem;

    @media (width >= 56.25rem) {
      row-gap: 3rem;
    }

    .h3 {
      text-align: center;
    }

    .h3,
    .secondary-button {
      justify-self: center;
    }
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18.75rem, 100%), 1fr));
  gap: 1.5rem;

  @media (width >= 56.25rem) {
    gap: 2rem;
  }
}

.card {
  border-radius: 0.5rem;

  a {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    height: 100%;
    border-radius: 0.5rem;
  }

  &.news-card {
    background-color: var(--card-bg-color-news);
  
    a {
      color: var(--card-body-color-news);
    }
  }

  &.knowledge-card {
    background-color: var(--card-bg-color-knowledge);
  
    a {
      color: var(--card-heading-color-knowledge);
    }
  }

  hgroup {
    gap: 1rem;

    h2, h3 {
      font: var(--card-header-l);
    }
  }

  &:hover h2,
  &:hover h3 {
    text-decoration: underline;
  }

  &.large {
    translate: 0 3rem;
    border: var(--card-border);

    @media (width >= 56.25rem) {
      translate: 0 4rem;

      a {
        padding: 2.5rem;
      }
    }

    hgroup {
      h2, h3 {
        font: var(--card-header-xl);
      }

      p:not(.card-category, .card-date) {
        font: var(--card-body-xs);
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: clip;
      }
    }
  }

  .card-category {
    background-color: var(--white-100);
    color: var(--green-500);
    font: var(--card-header-xs);
    border-radius: 0.25rem;
    padding: 0.5rem 1.25rem;
    width: fit-content;
  }

  .card-date {
    font: var(--card-body-l);
  }

  &:nth-child(n+6) {
    @media (scripting: enabled) {
      display: none;
    }

    @media (prefers-reduced-motion: no-preference) and (scripting: enabled) {
      @supports (transition-behavior: allow-discrete) {
        transition: display 0.5s, opacity 0.5s, left 0.5s, translate 0.5s;
        transition-behavior: allow-discrete;
        translate: 0 1.5625rem;
        opacity: 0;
      }
    }

    &.visible {
      display: block;

      @media (prefers-reduced-motion: no-preference) {
        @supports (transition-behavior: allow-discrete) {
          translate: 0 0;
          opacity: 1;
          
          @starting-style {
            translate: 0 1.5625rem;
            opacity: 0;
          }
        }
      }
    }
  }
}

/* MARK: ELLIPSE
*/

.ellipse {
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    mask-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--ellipse-color-light);
  }

  &.hidden-mobile::after {
    display: none;

    @media (width >= 56.25rem) {
      display: block;
    }
  }

  &:not(.card) {
    &::after {
      mask-image: url("/static/icons/ellipse-multiple.svg");
      mask-position: bottom left;
      transform: scaleY(-1);
      mask-size: 62.5rem;
      border-radius: 1rem;
  
      @media (width >= 56.25rem) {
        mask-size: cover;
        transform: scaleY(1);
      }
    }
  
    &.reverse::after {
      transform: scale(-1);
  
      @media (width >= 56.25rem) {
        transform: scaleX(-1);
      }
    }
  
    &.bg-secondary::after {
      background: var(--ellipse-color-dark);
    }
  }
  
  &.card {
    &::after {
      mask-position: bottom left;
      mask-size: cover;
      background: var(--ellipse-color-light);
      border-radius: 0.5rem;
    }
  
    &:nth-child(3n + 1)::after {
      mask-image: url("/static/icons/ellipse-single-1.svg");
    }
  
    &:nth-child(3n + 2)::after {
      mask-image: url("/static/icons/ellipse-single-2.svg");
    }
  
    &:nth-child(3n)::after {
      mask-image: url("/static/icons/ellipse-single-3.svg");
      mask-position: bottom right;
    }
  }
}

/* MARK: ACCORDION
*/

.accordion {
  appearance: none;
  overflow: clip;

  &::details-content {
    @media (prefers-reduced-motion: no-preference) {
      @supports (transition-behavior: allow-discrete) {
        transition: height 0.3s, opacity 0.3s, content-visibility 0.3s;
        transition-behavior: allow-discrete;
        opacity: 0;
        height: 0;
      }
    }
  }

  &[open] {
    &::details-content {
      @media (prefers-reduced-motion: no-preference) {
        @supports (transition-behavior: allow-discrete) {
          opacity: 1;
          height: auto;
        }
      }
    }
  
    summary::after {
      transform: rotate(-180deg);
    }
  }

  summary {
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    hyphens: auto;
    overflow-wrap: break-word;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      mask-image: url("/static/icons/angle-down.svg");
      display: block;
      transition: transform 0.3s;
      background-color: var(--accordion-heading-color);
    }
  }
}