.footer-nav {
  background: var(--footer-bg-color);
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    padding-block: 2.5rem;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;

    @media (width >= 56.25rem) {
      flex-direction: row;
      padding-block: 2.5rem;
    }
  }
}

.footer-logo {
  transition: opacity 0.3s;
  height: fit-content;
  width: fit-content;

  &:hover {
    opacity: 0.8;
  }
}

footer {
  .nav-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;

    @media (width >= 56.25rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .nav-item a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font: var(--footer-link);
    color: var(--footer-text-color);
    text-decoration: underline;
    text-decoration-color: var(--transparent-100);
    text-decoration-thickness: 2px;
    text-underline-offset: 0.625rem;
    transition: text-decoration-color 0.3s;
    width: fit-content;

    &:hover {
      text-decoration-color: currentcolor;
    }

    &::before {
      mask-image: url("/static/icons/arrow-right.svg");
      display: block;

      @media (width >= 56.25rem) {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.footer-bar {
  background: var(--footer-bar-bg-color);

  .container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding-block: 2rem;
    width: 100%;

    @media (width >= 56.25rem) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-block: 1rem;
    }
  }
}

.footer-links {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;

  @media (width >= 56.25rem) {
    flex-direction: row;
  }

  .footer-link a {
    color: var(--footer-bar-text-color);
    font: var(--footer-bar-link);
    text-decoration: underline;
    text-decoration-color: var(--transparent-100);
    text-decoration-thickness: 2px;
    text-underline-offset: 0.625rem;
    transition: text-decoration-color 0.3s;
    width: fit-content;

    &:hover {
      text-decoration-color: currentcolor;
    }
  }
}

.footer-socials {
  display: flex;
  gap: 1.5rem;

  .footer-social {
    display: flex;
    align-items: center;

    .icon {
      background-color: var(--green-600);
      padding: 0.5rem;
      border-radius: 100%;
      color: var(--white-100);

      &::after {
        display: block;
        background-color: var(--white-100);
        width: 1.125rem;
        height: 1.125rem;
      }

      &.x::after {
        mask-image: url("/static/icons/x.svg");
      }

      &.linkedin::after {
        mask-image: url("/static/icons/linkedin.svg");
      }

      &.mastodon::after {
        mask-image: url("/static/icons/mastodon.svg");
      }
    }
  }
}

.version {
  text-align: left;
  border-top: 1px solid var(--transparent-300);
  padding: 1.25rem 1rem;
  max-width: 77.5rem;
  margin-inline: auto;

  @media (width >= 56.25rem) {
    text-align: right;
  }
}
