.hall-of-fame-section {
  .container {
    row-gap: 1.5rem;
    padding-block: 2rem;

    @media (width >= 56.25rem) {
      row-gap: 3rem;
      padding-block: 2rem;
    }
  }

  hgroup {
    gap: 0.5rem;
    
    @media (width >= 56.25rem) {
      grid-column: 3 / 11;
      gap: 1rem;
    }
  }

  .button-container {
    place-self: center;
  }

  @media (width >= 56.25rem) {
    .hall-of-fame-list {
      grid-column: span 12;
    }
  }
}

.filter-section {
  translate: 0 -4.0625rem;
  margin: 0 1rem -4.0625rem;
  z-index: 1;

  @media (width >= 56.25rem) {
    translate: 0 -4.6875rem;
    margin: 0 0 -4.6875rem;
  }

  .filter-container {
    background: var(--bg-color-body);
    border: var(--card-border);
    box-shadow: var(--card-box-shadow);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    flex-direction: column;
    gap: 1rem;

    @media (width >= 56.25rem) {
      grid-column: 3 / 11;
      width: 100%;
      gap: 3rem;
      align-items: center;
      flex-direction: row;
    }

    .h2 {
      font: var(--section-header-s);
      color: var(--heading-color-primary);
    }
  }
}

.hosters-section {
  .container {
    gap: 2rem 1rem;

    @media (width >= 56.25rem) {
      gap: 4rem 2rem;
    }
  }
  
  hgroup { 
    gap: 1rem;
    text-align: center;
    
    @media (width >= 56.25rem) {
      grid-column: 2 / 10;
      text-align: start;
    }
  }

  .image-container {
    background-color: var(--green-100);
    border-radius: 100%;
    padding: 1.5rem 2.375rem;
    place-self: center;
    order: -1;

    @media (width >= 56.25rem) {
      grid-column: 10 / 12;
      order: unset;
    }
  }
}

.hall-of-fame-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12.5rem, 50%), 1fr));
  grid-auto-flow: dense;
  gap: 1.5rem;
  
  @media (width >= 56.25rem) {
    grid-column: 2 / 12;
  }

  li a {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding: 0.75rem 0.5rem;
    background-color: var(--button-bg-color-hoster);
    color: var(--button-text-color-hoster);
    font: var(--section-button-m);
    border-radius: 0.25rem;
    text-align: center;
    display: block;
    overflow: clip;
  }
}