.result-section {
  .container {
    padding-block: 2rem;
    row-gap: 1.5rem;

    @media (width >= 56.25rem) {
      padding-block: 2.25rem;
      row-gap: 3rem;

      & > * {
        grid-column: 1 / 8;
      }
    }
  }

  &.loading {
    .container > * {
      @media (width >= 56.25rem) {
        grid-column: 3 / 11;
        row-gap: 2.5rem;
      }
    }
  }

  h1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  hgroup {
    gap: 0.75rem;

    @media (width >= 56.25rem) {
      gap: 1.5rem;
    }
  }

  ul:not(.meter-numbers) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  li:not(.meter-number) {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a {
      display: inline;
      text-decoration: underline;
    }

    &.probing::before {
      background-image: url("/static/icons/spinner.svg");
      display: block;
      background-color: unset;
      background-repeat: no-repeat;
      background-size: cover;
      width: 1.25rem;
      height: 1.25rem;
      min-height: 1.25rem;
      min-width: 1.25rem;
    }

    &.probing:has(:not(.done))::before {
      margin: 0.125rem;

      @media (prefers-reduced-motion: no-preference) {
        animation: rotate linear infinite 2s;
      }
    }

    &.probing:has(.done)::before {
      background-image: url("/static/icons/checkmark-circle.svg");
      width: 1.5rem;
      height: 1.5rem;
      min-height: 1.5rem;
      min-width: 1.5rem;
    }

    &:not(.probing)::before {
      background-color: unset;
      background-repeat: no-repeat;
      background-size: cover;
      width: 1.5rem;
      height: 1.5rem;
      min-height: 1.5rem;
      min-width: 1.5rem;
      display: block;
    }

    &.passed::before {
      mask-image: url("/static/icons/checkmark-circle.svg");
      background-color: var(--success-color);
    }

    &.warning::before {
      mask-image: url("/static/icons/exclamation-circle.svg");
      background-color: var(--warning-color);
    }

    &.failed::before {
      mask-image: url("/static/icons/error.svg");
      background-color: var(--failed-color);
    }

    &.not-tested::before {
      mask-image: url("/static/icons/question.svg");
      background-color: var(--not-tested-color);
    }

    &.error::before {
      mask-image: url("/static/icons/broken.svg");
      background-color: var(--error-color);
    }

    &.info::before {
      mask-image: url("/static/icons/info.svg");
      background-color: var(--info-color);
    }

    &.hidethis {
      display: none;
    }
  }
}

body.emailtest .action-card-item:has(.mail),
body.websitetest .action-card-item:has(.domain),
body.connectiontest .action-card-item:has(.connection) {
  display: none;
}

.action-card {
  background-color: var(--card-bg-color-action);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  grid-column: span 12;
  position: sticky;
  bottom: 0;
  order: 2;
  z-index: 1;
  max-height: 80vh;
  overflow-y: auto;

  @media (width >= 56.25rem) {
    grid-column: 9 / 13;
    grid-row: 1 / 2;
    bottom: unset;
    order: unset;
    top: 20vh;
    margin-top: -28.125rem;
    align-self: start;
    padding: 2rem;
    border-radius: 1rem;
  }

  details {
    display: flex;
    flex-direction: column;
    appearance: none;
    overflow: clip;
    padding-bottom: 1rem;

    @media (width >= 56.25rem) {
      padding-bottom: 1.5rem;
    }

    &::details-content {
      @media (prefers-reduced-motion: no-preference) and (width < 56.25rem) {
        @supports (transition-behavior: allow-discrete) {
          transition: height 0.3s, opacity 0.3s, content-visibility 0.3s;
          transition-behavior: allow-discrete;
          opacity: 0;
          height: 0;
        }
      }

      @media (width >= 56.25rem) {
        content-visibility: visible;
      }
    }

    &[open] {
      &::details-content {
        @media (prefers-reduced-motion: no-preference) {
          @supports (transition-behavior: allow-discrete) {
            opacity: 1;
            height: fit-content;
          }
        }
      }

      summary::after {
        transform: rotate(-180deg);
      }
    }
  }

  summary,
  h2 {
    font: var(--card-header-xl);
    color: var(--card-heading-color-action);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    display: none;

    @media (width >= 56.25rem) {
      display: flex;
      padding-bottom: 0.5rem;
    }
  }

  summary {
    display: flex;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      mask-image: url("/static/icons/angle-down.svg");
      display: block;
      transition: transform 0.3s;

      @media (width >= 56.25rem) {
        display: none;
      }
    }

    @media (width >= 56.25rem) {
      display: none;
    }
  }

  .action-card-description {
    font: var(--card-body-m);
    color: var(--card-body-color-action);
    padding-top: 1.5rem;
  }

  .action-card-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem;
  }

  .action-card-item a,
  .action-card-item .countdown {
    color: var(--card-body-color-action);
    font: var(--card-header-m);
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem solid var(--card-body-color-action);
    padding-bottom: 0.5rem;
    display: flex;

    &::after {
      mask-image: url("/static/icons/angle-down.svg");
      display: block;
      transform: rotate(-90deg);
    }

    span {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .domain::before {
      mask-image: url("/static/icons/globe.svg");
      display: block;
    }

    .mail::before {
      mask-image: url("/static/icons/envelope.svg");
      display: block;
    }

    .connection::before {
      mask-image: url("/static/icons/link.svg");
      display: block;
    }

    .reset::before {
      mask-image: url("/static/icons/reset.svg");
      display: block;
    }

    .clipboard::before {
      mask-image: url("/static/icons/clipboard.svg");
      display: block;
    }

    .countdown-time-text,
    .countdown-time {
      display: inline;
    }

    &.repeat-test.hidden {
      display: none;
    }
  }
}

#copy-link {
  &:not(.copied) {
    .not-clicked {
      display: flex;
    }

    .clicked {
      display: none;
    }
  }

  &.copied {
    &::after {
      display: none;
    }

    .not-clicked {
      display: none;
    }

    .clicked {
      display: flex;
    }
  }

  @media (scripting: none) {
    cursor: default;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.meter-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  border-bottom: 1px solid var(--grey-300);
  padding-block: 1.5rem 1rem;
  margin-inline: 0.625rem;
}

.meter {
  background-color: var(--white-100);
  border-radius: 1.25rem;
  height: 1rem;
}

.meter-value {
  position: absolute;
  translate: -50% -120%;
  color: var(--white-100);
  background-image: url("/static/icons/box.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.375rem 0.375rem 0.625rem;
  display: flex;
  font: var(--heading-font-xxs);
  opacity: 0;
  animation: fadein 1s ease forwards 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

meter {
  width: 100%;
  border-radius: 1.25rem;
  height: 100%;
  background: var(--white-100);
  vertical-align: top;

  @media (prefers-reduced-motion: no-preference) {
    animation: fillmeter 2s ease forwards;
    width: 0%;
  }
}

@keyframes fillmeter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.meter-numbers {
  display: flex;
  justify-content: space-between;
  font: var(--heading-font-xxs);
}

meter::-webkit-meter-bar {
  background: var(--white-100);
  border-radius: 1.25rem;
  height: 1rem;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
  background: var(--meter-bg-color);
  border-radius: 1.25rem;
}

meter::-moz-meter-bar {
  background: var(--meter-bg-color);
  border-radius: 1.25rem;
  height: 1rem;
}

.result-details-section {
  .container {
    row-gap: 2rem;

    @media (width >= 56.25rem) {
      gap: 2rem;
    }

    & > *:not(.action-card) {
      @media (width >= 56.25rem) {
        grid-column: 1 / 9;
      }
    }
  }
}

.result-details-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 0;

  @media (width >= 56.25rem) {
    gap: 2.125rem;
  }
}

.result-details-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;

  @media (width >= 56.25rem) {
    padding-bottom: 2.125rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--grey-300);
  }

  > hgroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      display: flex;
      gap: 1rem;
      align-items: center;

      &::before {
        width: 1.75rem;
        height: 1.75rem;
        min-width: 1.75rem;
        min-height: 1.75rem;
      }

      &.passed::before {
        mask-image: url("/static/icons/checkmark-circle.svg");
        display: block;
        background-color: var(--success-color);
      }

      &.warning::before {
        mask-image: url("/static/icons/exclamation-circle.svg");
        display: block;
        background-color: var(--warning-color);
      }

      &.failed::before {
        mask-image: url("/static/icons/error.svg");
        display: block;
        background-color: var(--failed-color);
      }

      &.info::before {
        mask-image: url("/static/icons/info.svg");
        display: block;
        background-color: var(--info-color);
      }

      &.not-tested::before {
        mask-image: url("/static/icons/question.svg");
        background-color: var(--not-tested-color);
      }

      &.error::before {
        mask-image: url("/static/icons/broken.svg");
        display: block;
        background-color: var(--error-color);
      }
    }

    p a {
      display: inline-flex;
      color: var(--body-link-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .result-details-content {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-primary);
    border-radius: 0.5rem;
    padding: 1.5rem;

    h4 {
      padding-bottom: 1rem;

      &:not(:first-child) {
        padding-top: 1rem;
      }
    }

    details {
      margin-bottom: 0.5rem;
      background: var(--accordion-bg-color);
      border-radius: 0.5rem;

      @media (width >= 56.25rem) {
        grid-column: span 7;
        margin-bottom: 1rem;
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      > *:last-child {
        padding-bottom: 1rem;
      }

      a {
        display: inline;
        color: var(--body-link-color);

        &:hover {
          text-decoration: underline;
        }
      }

      ul,
      ol {
        list-style: initial;
        list-style-position: inside;

        li {
          margin-block: 0.5rem;
        }
      }

      tbody {
        font-family: monospace, sans-serif;
      }

      th {
        border-bottom: 1px solid var(--grey-300);
      }

      td,
      th {
        padding: 0.375rem;
        font-size: 0.875rem;

        &:first-child {
          padding-left: 0;
        }
      }

      code {
        background: var(--bg-color-primary);
        padding: 0.25rem;
        border-radius: 0.25rem;
      }

      div:has(.tech-details-table) {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
      }

      .tech-details-table {
        overflow-x: auto;
      }

      h5 {
        font-size: inherit;
      }

      &::details-content {
        font: var(--accordion-body);
        display: flex;
        padding-inline: 1rem;
        flex-direction: column;
        gap: 1rem;
      }

      &[open] > *:not(summary) {
        @supports not (selector(::details-content)) {
          font: var(--accordion-body);
          padding: 0.5rem 1rem;
        }
      }

      summary {
        padding: 1rem;
        font: var(--accordion-header);
        color: var(--accordion-heading-color);
        font-weight: 600;
        gap: 1rem;

        &.warning {
          color: var(--warning-color);
        }

        &.failed {
          color: var(--failed-color);
        }

        &.not-tested {
          color: var(--not-tested-color);
        }

        &::after {
          margin-left: auto;
        }

        &.passed::before {
          mask-image: url("/static/icons/checkmark-circle.svg");
          display: block;
          background-color: var(--success-color);
        }

        &.warning::before {
          mask-image: url("/static/icons/exclamation-circle.svg");
          display: block;
          background-color: var(--warning-color);
        }

        &.failed::before {
          mask-image: url("/static/icons/error.svg");
          display: block;
          background-color: var(--failed-color);
        }

        &.info::before {
          mask-image: url("/static/icons/info.svg");
          display: block;
          background-color: var(--info-color);
        }

        &.not-tested::before {
          mask-image: url("/static/icons/question.svg");
          display: block;
        }

        &.error::before {
          mask-image: url("/static/icons/broken.svg");
          display: block;
          background-color: var(--error-color);
        }
      }
    }
  }
}

.action-card-item {
  .repeat-test {
    &.link.hidden {
      display: none;
    }
    
    &.countdown.hidden {
      display: none;
    }
  }
}
