use flake

# initialize Transip API credentials
export TRANSIP_ACCOUNT_NAME=aequitas
# configure in your system keychain using: keyring set hetzner internetcleanup
export TRANSIP_PRIVATE_KEY=$(keyring get transip $TRANSIP_ACCOUNT_NAME)

# configure in your system keychain using: keyring set hetzner internet-cleanup-foundation
export HETZNER_PROJECT_NAME=internetnl
export HCLOUD_TOKEN=$(keyring get hetzner $HETZNER_PROJECT_NAME)
