# example credentials, configure these values bellow to restrict access to deployed servers
credentials = {
  MONITORING_AUTH_RAW = "example:$2y$05$0939uljmoxu3mrioy8ncliwnhnlo8vnlovh"
  ALLOW_LIST = "192.0.2.1/32"
  SENTRY_DSN = "https://abc@123.ingest.sentry.io/xyz"
}
