# for mail auth_http
server {
    listen ${SMTP_AUTH_HTTP_ENDPOINT};
    location / {
        default_type text/plain;
        add_header Auth-Status "Login not supported since this is a dummy nginx smtp handler";
        add_header Auth-Error-Code "550 5.3.5";
        add_header Auth-Wait 1;
        return 200;
    }
}
