# serve mock static files for integration test environment, eg: publicsuffix, manual hosters hof
server {
    listen       80;
    listen  [::]:80;
    server_name  static;

    location /static/ {
        alias /var/www/static/;
    }
}
