[req]
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName            = DW
stateOrProvinceName    = Sto Plains
localityName           = Ankh-Morpork
organizationName       = Internet.nl
organizationalUnitName = Integration tests
commonName             = target.test
emailAddress           = test@example.com

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = test-target